{% extends "base.html" %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'academic.css' %}">
{% endblock %}
{% block content %}

<div>
	<h3 class="head">Ist Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">IIst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">IIIst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">IVst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">Vst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">VIst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">VIIst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>
<div>
	<h3 class="head">VIIIst Semister</h3>
	<a href="#">sub1</a>
	<a href="#">sub2</a>
	<a href="#">sub3</a>
	<a href="#">sub4</a>
	<a href="#">sub5</a>
	<a href="#">sub6</a>
</div>
<br>


{% endblock content %}