{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
	<div class="row">
		<div class="col-sm-4">
			<h2>Cognizance</h2>
			<img src="{% static 'images/cognizance.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>ECE Decoded</h2>
			<img src="{% static 'images/ece decoded.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>Apprentice-Ship</h2>
			<img src="{% static 'images/apprentice ship.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h2>Electronova</h2>
			<img src="{% static 'images/electronova.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>Freshers</h2>
			<img src="{% static 'images/freshers.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>GRE</h2>
			<img src="{% static 'images/gre.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h2>Inaugral</h2>
			<img src="{% static 'images/inaugral.png' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>Know Your Branch</h2>
			<img src="{% static 'images/know your branch.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>TechExcellence</h2>
			<img src="{% static 'images/techexcellence.jpg' %}" class="img-thumbnail">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<h2>Verilog Workshop</h2>
			<img src="{% static 'images/verilog.jpg' %}" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<h2>Vocatronics</h2>
			<img src="{% static 'images/vocatronics.jpg' %}" class="img-thumbnail">
		</div>
	</div>
</div>
{% endblock content %}