{% extends "base.html" %}
{% load static %}
<!-- {% block stylesheet %}

	{% endblock %} -->
	{% block content %}
	<ul class="nav nav-tabs">
		<li class="nav-item active">
			<a class="nav-link active" data-toggle="tab" href="#phw17-21">Batch 17-21</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#phw18-22">Batch 18-22</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#phw19-23">Batch 19-23</a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane container active" id="phw17-21">
			sam1
		</div>
		<div class="tab-pane container fade" id="phw18-22">
			sin1
		</div>
		<div class="tab-pane container fade" id="phw19-23">
			singhal1
		</div>
	</div>










	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#Placement">Placement</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#Internship">Internship</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane container active" id="Placement">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#pHardware">Hardware</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#pSoftware">Software</a>
				</li>
			</ul>
			<!-- tab contents of h/w and s/w -->
			<div class="tab-content">
				<div class="tab-pane container active" id="pHardware">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#phw17-21">Batch 17-21</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#phw18-22">Batch 18-22</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#phw19-23">Batch 19-23</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane container active" id="phw17-21">
							sam1
						</div>
						<div class="tab-pane container fade" id="phw18-22">
							sin1
						</div>
						<div class="tab-pane container fade" id="phw19-23">
							singhal1
						</div>
					</div>
				</div>
				<div class="tab-pane container fade" id="pSoftware">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#psw17-21">Batch 17-21</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#psw18-22">Batch 18-22</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#psw19-23">Batch 19-23</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane container active" id="psw17-21">
							rish1
						</div>
						<div class="tab-pane container fade" id="psw18-22">
							pal1
						</div>
						<div class="tab-pane container fade" id="psw19-23">
							khi1	
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane container fade" id="Internship">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#iHardware">Hardware</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#iSoftware">Software</a>
				</li>
			</ul>
			<!-- tab contents of h/w and s/w -->
			<div class="tab-content">
				<div class="tab-pane container active" id="iHardware">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#ihw17-21">Batch 17-21</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#ihw18-22">Batch 18-22</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#ihw19-23">Batch 19-23</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane container active" id="ihw17-21">
							sam2
						</div>
						<div class="tab-pane container fade" id="ihw18-22">
							sin2
						</div>
						<div class="tab-pane container fade" id="ihw19-23">
							singhal2
						</div>
					</div>
				</div>
				<div class="tab-pane container fade" id="iSoftware">
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab" href="#isw17-21">Batch 17-21</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#isw18-22">Batch 18-22</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" href="#isw19-23">Batch 19-23</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane container active" id="isw17-21">
							rishabh2
						</div>
						<div class="tab-pane container fade" id="isw18-22">
							pal2
						</div>
						<div class="tab-pane container fade" id="isw19-23">
							kh2	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock content %}