{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="nav nav-tabs">
	<!-- <li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#ihw17-21">Batch 17-21</a>
	</li> -->
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#ihw16-20">Batch 16-20</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#ihw15-19">Batch 15-19</a>
	</li>
</ul>

<div class="tab-content">
	<!-- <div class="tab-pane container active" id="ihw17-21">
		
	</div> -->
	<div class="tab-pane active" id="ihw16-20">
		<div class="jumbotron">
			<h2>Name: Minal Kulkarni</h2>
			<h2>Company: Texas Instruments</h2>
			Process of Selection : <br>
			There were three rounds- <br>
			1. Online Test <br>
			2. Technical Interview <br>
			3. HR Interview <br>
			Description of each round : <br>
			1. Online Test- <br>
			Online test was divided into three sections- digital, analog and aptitude, 20 questions for each section. Questions were asked from electronic devices and circuits, network analysis, operational amplifiers. For the digital part, questions were asked based on digital system design, vhdl and verilog. Aptitude questions were easy but you need to be fast. <br>
			2. Technical interview: There were two technical interviews. In the first one, they asked me 4-5 questions where I had to design a digital system to get a certain output from the given the input. I had to draw the state diagrams for the system and explain them. They also asked regarding my project. In the second interview they asked questions related to setup time , hold time, transfer characteristics of cmos inverter and some basic questions from dsd-2. <br>
			3. HR interview: This lasted for around 10-15 minutes. They asked about my interests and hobbies, future plans, and if I had any questions to ask. <br>
			Suggestions for juniors : <br>
			Be confident. Even if you cannot solve the question at the first go, try to approach it , they'll give sufficient time to think. Do not bluff , only more no. of projects in the resume will not improve your chances. Be clear with the basics. All the best!! <br>

		</div>
		<div class="jumbotron">
			<h2>Name: Kanuma Susmitha</h2>
			<h2>Company: Qualcomm</h2>
			Process of Selection : <br>
			There were 2 rounds <br>
			1.Online test <br>
			2.Technical+HR interview <br>
			Description of each round : <br>
			There were three sections in this test. <br>
			Round 1: Online test <br>
			1.Aptitude - Questions were easy but time management is important. <br>
			2.Programming - Output of simple codes and debugging of codes were asked. Basic programming knowledge is enough. <br>
			3.Here we can choose among electronics and coding. In electronics, questions related to both analog and digital were asked. <br>
			Round 2: Technical + HR interview <br>
			This round lasted for around 30 minutes. He asked me 6-7 questions like difference between SRAM and DRAM, fanin and fanout for a given circuit, questions about logic gates, to design a system for a given input and output , about multiplexers and flipfops ...and so on. <br>
			And then he asked me about my interests and future plans and if I had any questions to ask . <br>
			Suggestions for juniors : <br>
			Be confident. Don't worry even if you don't have any projects in your resume .Be good at basics of Dsd.


		</div>

	</div>
	<div class="tab-pane fade" id="ihw15-19">
		<div class="jumbotron">
			<h2>Name: Sahitya Kasa</h2>
			<h2>Company:Qualcomm</h2>
			<h4>Cut-off : 7 CGPA</h4>
			Process of Selection : <br>
			It had three rounds... <br>
			1.Online test <br>
			2.Technical Interview and <br>
			3.HR interview <br>
			Description of each round: <br>
			First round consisted of online test which had three sections- general aptitude, C aptitude and third section was different for hardware and software profile. <br>
			The second round was technical interview round . The interviewer asked questions from the area of interest of the candidate ( digital/ analog) , problem solving skills were also tested. <br>
			The last round was HR round which consisted of normal conversation on work area etc. <br>
			Suggestion to the juniors: <br>
			For hardware profile, go through all the basics taught in the Class. Try to go through gate notes and C programming also. Make you resume apt so that it would help you in interview round.

		</div>
		<div class="jumbotron">
			<h2>Name : Onkar Harsh</h2>
			<h2>Company:Qualcomm</h2>
			<h4>Cut-off : 7 CGPA</h4>
			Process of Selection : <br>
			Round 1 - Aptitude +Technical <br>
			Round 2 - Technical interview <br>
			Round 3 - HR interview <br>

			Description of each round : <br>
			Round 1 - Aptitude had normal aptitude questions based on reasoning and comprehensive type. Technical also was not that tough.The only key is to be selective while attempting the question so that you that do not miss on easy ones while wasting time on lengthy ones. <br>
			Round 2 - Technical interview is the key to get the entry. You have to be confident and frank with the interviewer.He helped me in all possible ways. You can ask any minute doubts related to the problem he asks and then try your best to answer it. To me he specifically asked about my VHDL project and then he asked me to implement a simple logic based circuit ( it was a combination of xor gate and d flipflop). Then he asked some more VHDL basics. <br>
			Round 3 - A normal discussion with HR about my family and academics. <br>

			Suggestions to juniors : <br>
			Be confident and frank in answering the questions.Never bluff and always try to understand the question first and then only attempt to answer. Always maintain a talkative approach worn the interviewer . <br>
			ALL THE BEST !!!

		</div>
		<div class="jumbotron">
			<h2>Name: Amartya Saha</h2>
			<h2>Company:Texas Instruments</h2>
			<h4>Cut-off : 7 CGPA</h4>
			<h4>Job Profile : Analog designer</h4>
			Process of Selection : <br>
			Basically there were three rounds <br>
			1st round : Online test <br>
			2nd round : technical interview <br>
			3rd round : HR round <br>

			Description of each round: <br>
			1st round : Online test : questions came from pulse circuit,network analysis,electronic devices and circuits. <br>
			2nd round : Technical Interview : lasted around 45 mins.Interviewer asked the topics i had learnt so far.He went through my resume and started asking about my projects.Then he asked questions from my courses.He asked 5 questions and all of them were above average. Questions were asked mainly from pulse circuit and network analysis. <br>
			3rd round : HR round : lasted around 10 mins.Interviewer saw my resume and asked me to tell him sometjimg new which i haven't included inyresume and that's it!! <br>

			Suggestion to the juniors: <br>
			Be frank!! Don't bluff and be confident. Do not include projects invtheir resume which you haven't been part of!! believe me having more projects in your resume doesn't increase your chance of getting selected!! Best of luckk!!

		</div>	
		<div class="jumbotron">
			<h2>Name: Sai Krishna</h2>
			<h2>Company:Qualcomm</h2>
			<h4>Cut-off : 7 CGPA</h4>
			Process of Selection: <br>
			1.Aptitude test <br>
			2. Technical interview <br>
			3. HR interview <br>

			Description of each round: <br>
			Round 1- Online test <br>
			Test consisted of three sections - <br>
			1.Aptitude- Questions were easy ,time management is important. <br>
			2.Basic programming - Debug the program, output of the code kinda questions. <br>
			3. You can choose electronics or communication or coding. These questions were relatively tough. <br>
			Round 2- Technical interview <br>
			Questions were asked on my favorite topic. ( I chose analog over digital). <br>
			1.Design a mobile/laptop charger. <br>
			2. How do you convert a low pass filter to a band pass filter. <br>
			3. Questions related to my project and workshops I attended were asked. <br>
			Round 3 - HR interview <br>
			The interviewer was very friendly and basic questions were asked like <br>
			1. Introduction <br>
			2. Why Qualcomm? <br>
			3. Where do you see yourself after 2 years? <br>
			4. Did you apply for any other company before Qualcomm and why are you not selected? <br>

			Suggestions for juniors: <br>
			Be confident and clear about basic concepts in digital electronics, signals and systems and EDC.  <br>Don't get discouraged if you are not selected . All the best !!! <br>

		</div>	
		<div class="jumbotron">
			<h2>Name: K.Neeraj</h2>
			<h2>Company:Qualcomm</h2>
			<h4>Cut-off : 7 CGPA</h4>
			Process of Selection : <br>
			It had three rounds... <br>
			1.Online test <br>
			2.Technical Interview and <br>
			3.HR interview <br>
			Description of each round: <br>
			**Online Test:- <br>
			1.General aptitude questions <br>
			2.Basic programming(C) and <br>
			3.Basic electronics(you can choose either electronics or communication) <br>

			**Technical Interview:- Basic digital questions (Gates,Cmos implementation of gates etc),VHDL programming, Basic questions related to my project done in 2nd year. <br>

			**HR round - Interviewer was very friendly and asked a few casual questions like why Hardware?; why Qualcomm ? Domains of interest ? Which location would you prefer?etc <br>

			Suggestion to the juniors: <br>
			1.Maintain CGPA greater than 7 or 7.5. <br>
			2.Concentrate on the basics of Digital,Analog.Be perfect in any one of the those two. <br>
			3.Be fast in solving aptitude questions. <br>
			4.Give your answers confidently <br>

		</div>	
	</div>
</div>
{% endblock content %}