{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="nav nav-tabs">
	<!-- <li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#isw17-21">Batch 17-21</a>
	</li> -->
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#isw16-20">Batch 16-20</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#isw15-19">Batch 15-19</a>
	</li>
</ul>

<div class="tab-content">
	<!-- <div class="tab-pane container active" id="isw17-21">
		sam1
	</div> -->
	<div class="tab-pane active" id="isw16-20">
		<div class="jumbotron">
			<h2>Name: Shivani Agrawal</h2>
			<h2>Company: Goldman Sachs</h2>
			<p>
				Process of Selection :<br>
				1.	Online test <br>
				2.	Technical interviews <br>
				3.	HR+technical interview <br>
			</p>
				
			

			Description of each round : <br>
			Round 1 (online test) : One coding question and rest coding aptitude and quantitative aptitude questions. Coding question was a difficult one but it had just 5% weightage. Aptitude questions were of average difficulty. <br>

			Round 2 (technical interview1) : the interviewer asked me my favourite subject and then 3 questions on linked list. Questions were easy but they were expecting optimal solutions. Then he asked me an SQL query. <br>

			Round 3 (technical interview2) : this round went on for around 45 minutes. I was asked around 10 questions on arrays and linked list and 3 questions from trees. Level of questions increased gradually from easy to difficult. <br>

			Round 4 : I was asked some questions on DBMS related to indexing. Then discussion on my project, after which i was asked my views on team work. Then a question from the ppt followed by some normal HR questions. <br>

			Suggestions for juniors : <br>
			1. Focus more on topics like arrays, linked lists, stacks, queues and trees. Try to optimize your approach. <br>
			2. DBMS and OOP are important as well. <br>
			3. Listen to the ppt. They may ask questions from there in HR round. <br>
			4. Write about a project only if you understand it completely. <br>
		</div>
		<div class="jumbotron">
			<h2>Name:Hitesh Agarwal</h2>
			<h2>Company: JP Morgan Chase</h2>
			<p>
				Process of Selection :<br>
				1.	Online test <br>
				2.	Technical interviews <br>
				3.	HR interview <br>
			</p>
				
			

			Description of each round : <br>
			Round 1:- <br>
			It was a coding test on HackerRank platform. Two simple questions were asked(one on basic hashing and the other which required Bfs).Test duration was one hour. <br>
			Question 1: <br>
			A vector of strings is given.Find the string with maximum count and also if there are more than one string with same maximum count print the lexicographically smallest one. <br>
			Example : <br>
			Input : abcd , aeio , abcd , beard, pqrs , beard. <br>
			Output : abcd <br>
			Question 2 : <br>
			Given a 2D-grid of characters (there are 4 types of characters: P represents starting point , Q represents ending point , O represents obstacles and E represents empty space).Find the length of the minimum path between the starting('P') and ending point('Q') . From a point(x,y) you can move to (x-1,y) , (x,y-1) , (x+1,y) , (x, y+1) provided they are empty spaces('E') and lie within the grid. <br>
			If there doesn't exist a path between 'P' and 'Q' print -1. <br> <br>
			Round 2(Technical) :- <br>
			The interview started with a simple maths question. Then he asked the following questions: <br>
			1.What is the toughest question you have solved on any competitive coding platform? <br>
			2. How much grip do you have in Java? <br>
			3. What are the differences in C++ and Java? <br>
			4. What is polymorphism and inheritance ? Give an example for each. <br>
			The interview ended with a puzzle.Then he asked me if I have any questions. It lasted for about 25 minutes. <br>
			Round 3(HR round):- <br>
			First the interviewer asked me introduce myself. Then he asked me following questions <br>
			1. A simple coding question which required binary search <br>
			2.What's special in you that we should select you ? <br>
			3.Why do you want to join a software company as your branch is EEE ? <br>
			Then he asked me if I have any questions.The interview lasted for about 15-20 minutes. <br>
			Suggestions for juniors : <br>
			1. Have a good touch in competitive programming as it helps in clearing online rounds of companies easily <br>
			2 . Make a honest Resume. <br>
			3. Learn atleast basics of OOPS, DBMS questions on which are very frequently asked in interviews. <br>
			4. Don't get disheartened if you are not selected. There would be many opportunities awaiting you. <br>

		</div>
		<div class="jumbotron">
			<h2>Name : Shivang Awasthi</h2>
			<h2>Company : DE SHAW</h2>
			Process of Selection & Description of each round : <br>
			It consists of 4 rounds. The first round was online coding round. The second and third round was typical personal interview and the last one was HR round. <br>
			Round 1: Online Coding Round <br>
			This round was hosted on hackerrank. We were given 2 algorithmic problems to solve and
			time limit was 50 minutes. The questions was basically oriented on data structures and algorithms. <br>
			Round 2: The first personal interview round <br>
			In this round I was tested on various factor like basics of C++, Object Oriented Programming, Advanced Data Structures and Algorithms etc. <br>
			This round was 1 hour 45 minute long. <br>
			Round 3: The Second personal interview round <br>
			This round was approximately 1 hr 20 minute long. They asked me some design problems and tested other Computer Science subjects like Database Management System, Object Oriented Programming, Data Structures and Algorithms etc. <br>
			Round 4: The HR Round <br>
			This round was an easy round. I was asked basic general knowledge questions puzzles and some basic Maths Problem. This round lasts 30 35 minutes. <br>
			******Suggestions to juniors : <br>
			Try to prepare Data Structures and Algorithms very deeply and have better understanding of computer science fundamental subjects. <br>

		</div>
		<div class="jumbotron">
			<h2>Name: Ayush Jaiswal</h2>
			<h2>Company: Sprinklr</h2>
			Process of Selection : <br>
			Round 1 : online coding round on hacker rank <br>
			Round 2: offline tech round <br>
			Round 3: HR round <br>
			Description of each round : <br>
			Round 1 (Coding) : It was conducted on HackerRank . <br>
			Question – 1 : Given a tree with n nodes rooted at given root node r and having values associated with all the nodes. You have to answer two types of queries :- <br>
			sum i – In this query you have to print the sum of the sub-tree of the node i including the node i .
			update i, k :- In this query you have to increase the value of the i-th node by value k <br>
			Question – 2 : Given a string (1-based indexed) having only lowercase english alphabets of length n . <br> You are given q queries and a range [l, r] with each query . You have to print count of all the sub-strings which are ending and starting with the same character for each query. <br>
			Example – abacc <br>
			3 queries – <br>
			1 2 <br>
			2 4 <br>
			1 5 <br>
			Output :- <br>
			2 <br>
			3 <br>
			7 <br>
			Question – 3 : You are given an array a with positive integers . You have to print the size of the smallest subset such that the bitwise or of the array is maximum. <br>
			Example : 5 1 3 4 2 <br>
			output :- 2 <br>
			Explanation :- maximum or of array is 7 . subset chosen – [2, 5] or [3, 4]. <br>
			Round – 2 :- This was an offline technical round which lasted for about half an hour . Interviewer started with my introduction like tell me about yourself and all that stuff. In that time he was going through my resume and pointed out my interests in competitive programming and started with his questions. <br>
			Questions in Round 2 :- <br>
			1. First question was you are given n balls on the table and all the balls are rolling towards the one end of the table with velocities V1, V2, V3, V4……Vn and there is a bucket placed at that end. Distance of the ball with velocity V1 from the end of the table where bucket is placed is D1 similarly distance of ball with velocity V2 is D2 and so on.. Now it is given that when two balls collide both the balls merge into each other and move with velocity of the ball nearer to the bucket . So at last you have to tell the number of the balls which will fall into the bucket.. <br>
			2. Puzzle :- You have 10 bags full of balls. In each bag are infinite balls. But one bag is full of forgeries, and you can’t remember which one. But you do know that a genuine ball weigh 10 grams, but forgeries weigh 10.1 grams. You have to identify that bag in minimum readings. You are provided with a digital weighing machine.
			Then he slightly changed the above puzzle and asked me like if instead of one bag if two bags have forgeries then in how many minimum number of readings you will find out the both bags. <br>
			3. What is a red-black tree.. (asked to Code) <br>
			4. What is an AVL tree..(asked to Code) <br>
			5. How you will detect a cycle in an directed or undirected graph. <br>
			6. You are given a graph with some of its edges are directed and some are un-directed. You have to return true/false depending upon if you can convert all the undirected edges in directed ones such that there is no cycle in graph return true else return false.. <br>
			Then he asked me some basic OOPs concepts like : <br>
			what is Encapsulation ? <br>
			What is run-time and compile-time polymorphism ? <br>
			what is data-hiding and how it is helpful. ? <br>
			difference between c++ and java. <br>
			Then, Atlast he asked me if i have any questions to ask him .. <br>
			Round 3 :- This was an HR round .. She asked me the standard questions like tell me about yourself, What do you know about our company, who are our clients, are you comfortable with the location and the stipend .. <br>
			Suggestions for juniors: <br>
			Some Important Tips :- <br>
			1. Be very strong in competitive programming and data structures and algorithms. Data structures is the heart of all the companies every company will definitely ask that. <br>
			2. Be active on codechef, codeforces or any other competitive coding website and get familiar with the online ide such that hackerrank, hackerearth most of the company’s online round will be on hackerrank only. <br>
			3. Try to score very good in online coding round because they see your ranks and it might be very helpful if you scored good in your online round it’ll be definitely a plus point for you. <br>
			4. Try to be confident in front of interviewer . Try to make a friendly environment with him/her and don’t hesitate to ask hints if you got stuck in any question it will show your compatible nature. (Most important tip ) <br>
			5. Do some homework about the company like what the company does every HR will ask that question.
			ALL THE BEST


		</div>
		<div class="jumbotron">
			<h2>Name: Samarjit Karmakar</h2>
			<h2>Company: Microsoft</h2>
			Process of Selection & Description of each round : <br>
			In our college, Microsoft would arrive on Day 1 or 2. So prepare well as it may be one of the first companies you'll start your campus drive with. <br>
			Mostly, there will be a coding round, a group fly round and two-three rounds of interviews. <br>
			The rounds will be mostly technical, focusing on core CS concepts like Data Structures, Algorithms, DBMS, etc. <br>

			Description of each round : <br>
			Round 1 (Coding): <br>
			It was a coding test on CoCubes platform. The questions were simple but the platform required getting acquainted with. <br>
			There were three questions for each set, one for 2 marks, one for 3 and one for 5 marks. They were different for each set. <br>
			Question 1: Find the sum of non-duplicate elements in two arrays. <br>
			Question 2: A simple question on infix evaluation. (Multiple digits allowed) <br>
			Question 3: Find the minimum number you can generate by deleting k digits from a number with n digits, preserving the order of the digits. <br>
			About 60 students were selected for the next round. <br>

			Round 2 (Group Fly): <br>
			The group fly round consisted of 2 coding questions. <br>
			Question 1: Given a list of strings, group all the anagrams together. <br>
			Eg: <br>
			I/P: [ “aab”, “bab”, “abc”, “abb”, “baa” ] <br>
			O/P: [ [ “aab”, “baa”], [ “bab”, “abb”], [ “abc”] ] <br>
			Question 2: Given a linked list, separate it into odd valued nodes and even valued nodes. (It was required to be done in-place and the order of the nodes should be preserved) <br>
			Eg: <br>
			I/P: 1 -> 7 -> 2 -> 4 -> 5 -> 6 -> 9 <br>
			O/P: 1-> 7 -> 5-> 9-> 2-> 4-> 6 <br>
			As the questions were simple, try to give the most optimized solution. <br>

			Round 3 (Technical): <br>
			The interviewer first asked me to describe my project which was based on deep learning. I gave a high level overview of it and kept asking if I should further explain each module.
			Next, I was asked a question from Data Structures: <br>

			Given a grid of character and a list of strings, find the occurrence of each string in the grid in all 4 directions in the grid. <br>

			It is a simple variation of this problem: <br>

			First, I gave the naive approach, then tried to optimize it further. It could be done in O(n^2). <br>

			Round 4 (Technical): <br>
			I was asked for a simple system design question. It required a basic understanding of Object Oriented Programming and Database Management Systems. <br>
			Question 1: Design a library management system. <br>
			The approach matters in this as there is no exact answer. <br>

			Break down this problem into designing the database and further generate some transactions, giving some functional code. <br>

			Round 5 (Technical): <br>
			The interviewer asked me to describe my project again. I gave a detailed explanation. <br>
			Next, I was asked a puzzle. <br>
			Puzzle: Given a room full of people, a single celebrity is present. The celebrity knows no-one but everyone knows the celebrity. Among the other people, a person may or may not know one another. Given that enquiring, if two people know each other is costly, find the celebrity with minimum inquiries. <br>
			First, I gave a naive approach to O(n^2). Then, I tried to optimize it further to O(n). <br>

			Round 6 (Technical + HR): <br>
			I was asked fairly straightforward questions like, “What challenges did you face in your academic projects and how did you overcome them?”. <br>

			Verdict: Selected. <br>

			Suggestions for juniors : <br>
			Just focus more on Data Structures and Algorithms, and also try your hand at competitive programming as it will increase your algorithmic thinking skills as well as your speed. <br>
			For other core CS subjects like DBMS or OOP, just follow the topics given in websites like GeeksForGeeks and also try to read them up on the net or from a textbook. <br>
			Interviews aren't tough at all provided you play it smart and work hard enough! <br>

		</div>
	</div>
	<div class="tab-pane fade" id="isw15-19">
		<div class="jumbotron">
			<h2>Name : Hemanth Suggala</h2>
			<h2>Company : Samsung</h2>
			<h4>CGPA cutoff : 8</h4>
			Process of Selection : <br>
			Round 1- Aptitude <br>
			Round 2 - Group Discussion <br>
			Description of each round : <br>
			Round 1 - There are two sections. In first section there are 60 aptitude questions( Verbal reasoning, logical reasoning, General aptitude) , ( 60 min). <br>
			Round 2 - Group discussion- They gave one problem statement and we had to explain the solution to them. <br>
			Suggestions to juniors : <br>
			1. Focus more on aptitude questions(indiabix). Practice coding questions on various online sites.(geeksforgeeks, Hackerrank , etc.) <br>
			2.In group discussion , don't be tensed. Be cool and try to share whatever ideas you have regarding the problem statement given by them. <br>

		</div>
		<div class="jumbotron">
			<h2>Name : Ujwala.M</h2>
			<h2>Company : Visa Inc</h2>
			<h4>CGPA cutoff : 7</h4>
			Process of Selection : <br>
			Two rounds consisting of - <br>
			1. Coding round <br>
			2. Technical round <br>

			Description of each round : <br>
			Coding Round - Three questions were asked on hackerrank platform. The codes were to be submitted within 90 minutes. Questions were based on arrays and strings. <br>
			Technical Round - The interviewer asked questions related to stacks, hashtables, arrays and strings. <br>
			First question - Given a string , find the longest palindromic substring. <br>
			Second question - Given two strings S1 and S2 , I was supposed to find if S2 is a substring of S1. I had to write optimised codes of the above questions and discuss the basic idea with the interviewer. <br>
			The interviewer also asked me to solve a few puzzles and asked some questions based on the languages mentioned in the resume.Though we were informed that we will have further rounds ( Technical and HR ), we didn't have any. <br>

		</div>
		<div class="jumbotron">
			<h2>Name: Bharadwaz Bhuma</h2>
			<h2>Company:JP Morgan & Chase</h2>
			<h4>CGPA cutoff : 7</h4>
			Process of Selection : <br>
			3 rounds <br>
			1 round : Aptitude plus coding round (online test) <br>
			2 round: Technical Interview <br>
			3 round: HR interview <br>
			Description of each round: <br>

			1st round is an online test consists of 2 coding questions and 10 aptitude questions. Coding questions are moderate and the apti questions are pretty simple. No negative marking and the test is for 2hours. <br>
			2nd round is a technical interview. Questions are asked mostly on Data Structures and topics mentioned in the resume. The panel also tested spontaneity with certain general questions. The interview lasted for 30 minutes. <br>
			3rd round is HR. She went through the resume and asked certain questions abt the activities and other stuff. Later we had a small talk about my background and my college life. She is pretty cool and encouraging. It lasted for half an hour. <br>

			Suggestion to the juniors: <br>
			A honest and good resume does 50% of the job. <br>
			Don't panic during the interview, if u don't know the answer just say it, don't blabber. <br>
			Don't lose hope if you don't get an internship. There are lot more opportunities out there.

		</div>
		<div class="jumbotron">
			<h2>Name: Raipole Naveena</h2>
			<h2>Company:Samsung</h2>
			<h4>CGPA cutoff : 8</h4>
			Process of Selection : <br>
			Online test followed by technical group discussion. <br>

			Description of each round: <br>
			Round1: Online test <br>
			Test was for (60+70)min. <br>
			A) General aptitude for 60 minutes in which there were 3 parts 1.Quantitative aptitude <br>
			2.Verbal ability <br>
			3.Logical reasoning <br>
			Questions were quite simple, speed and accuracy are what matters. <br>

			B) Coding for 70 min <br>
			There were 3 questions (there were many sets) my set contained questions on <br>
			1.array(easy) <br>
			2.2D array(medium) <br>
			3.trees(medium) <br>
			->16 members were shortlisted for next round. <br>

			Round 2: Technical GD <br>
			We were divided into 2 groups of 8 members each. A topic will be given and we need to speak on that. <br>
			12 out of 16 people are selected for the intern. <br>

		</div>
		<div class="jumbotron">
			<h2>Name : Bhavitha Koduru</h2>
			<h2>Company:Samsung</h2>
			<h4>CGPA cutoff : 8</h4>
			Process of Selection : <br>
			Two rounds consisting of - <br>
			1. Online test <br>
			2. Group discussion <br>

			Description of each round : <br>
			Round 1 - Aptitude consisting of general aptitude, English and general analytic questions.Three basic coding questions in the end. <br>
			Round 2- Group discussion on topic related to ongoing technology and needs. <br>

			Suggestion to the juniors : <br>
			Practise aptitude well. <br>
			Do participate actively in the group discussion.

		</div>
	</div>
</div>
{% endblock content %}