{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="nav nav-tabs">
	<!-- <li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#phw17-21">Batch 17-21</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#phw16-20">Batch 16-20</a>
	</li> -->
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#phw15-19">Batch 15-19</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#phw14-18">Batch 14-18</a>
	</li>
</ul>

<div class="tab-content">
	<!-- <div class="tab-pane container active" id="phw17-21">
		sam1
	</div>
	<div class="tab-pane container fade" id="phw16-20">
		
	</div> -->
	<div class="tab-pane active" id="phw15-19">
		<div class="jumbotron">
			<h2>Name:Shaik Gouse Basha</h2>
			<h2>Company: Qualcomm</h2>
			<h4>CGPA cut-off : 7.0</h4>
			Process of Selection : <br>
			1.Online round (apti + programing ) <br>
			2. Technical interview <br>
			3.HR interview <br>

			Description of each round : <br>
			Round1: <br>
			It consisted of three sections <br>
			1.Aptitude :Questions were easy and time consuming <br>
			2.Programming :Mostly the questions were of debug type and predicting the output <br>
			3.In this section you can choose either Electronics or Communication or Coding. Questions were tough <br>
			Round2: Technical Interview <br>
			Technical Interview1: <br>
			First the interviewer started asking the questions on communication like how exactly the communication happens, block diagram of communication system, explain significance of transmission line etc... <br>
			Later he asked questions in digital like Design a counter synchronous and asynchronous. <br>
			About filters analog and digital filters abd how to convert one to another. <br>
			About Vhdl and basic programs in vhdl. Write the vhdl code of Universal Shift register, Vending machine etc <br>
			Later a general question was asked <br>
			Interview was relatively easy <br>
			Technical Interview2: <br>
			In this interviewer mostly asked about my projects <br>
			Questions based on clock delays were asked. A circuit was given and were asked to find the delay. <br> Microprocessor interfacing and basic code was asked. Microprocessor code of how do you check if 64 bit number is exactly divided by number 8. <br>
			Interview was relatively tough. <br>
			HR interview : <br>
			Interviewer as friendly and started with Introduction, why do you think present technology a boon or bane to the society. Where do you see yourself in 5 years. <br>

			Suggestions to juniors : <br>
			Be clear about the basic concepts. Interviewer sometimes focus on out-of-box problems. <br>
			Be strong in your interested area either analog digital or Communication. Also know basics of c++ and ds. All the best!! <br>

		</div>
		<div class="jumbotron">
			<h2>Name: Sai Krishna</h2>
			<h2>Company: Qualcomm</h2>
			<h4>Job Profile : Research Engineer</h4>
			Process of Selection & Description of each round : <br>
			1.Aptitude test <br>
			2. Technical interview <br>
			3. HR interview <br>

			Description of each round : <br>
			Round 1- Online test <br>
			Test consisted of three sections - <br>
			1.Aptitude- Questions were easy ,time management is important. <br>
			2.Basic programming - Debug the program, output of the code kinda questions. <br>
			3. You can choose among electronics, communication and coding sections. These questions were relatively tough. <br>
			Round 2- Technical interview <br>
			Questions were asked on my favorite topic. ( I chose analog over digital). <br>
			1.Design a mobile/laptop charger. <br>
			2. How do you convert a low pass filter to a band pass filter. <br>
			3. Questions related to my project and workshops I attended were asked. <br>
			Round 3 - HR interview <br>
			The interviewer was very friendly and basic questions were asked like <br>
			1. Introduction <br>
			2. Why Qualcomm? <br>
			3. Where do you see yourself after 2 years? <br>
			4. Did you apply for any other company before Qualcomm and why are you not selected? <br>

			Suggestions to juniors : <br>
			Be confident and clear about basic concepts in digital electronics,signals and systems,basic programming and EDC. All the best !!!
		</div>
		<div class="jumbotron">
			<h2>Name: Kedar Swami</h2>
			<h2>Company: Samsung Semiconductor (SSIR)</h2>
			<h4>Job Profile : Research Engineer</h4>
			Process of Selection : <br>
			1.online test <br>
			2. Technical interview <br>
			3. HR Round. <br>

			Description of each round : <br>
			Round 1(1 Hr):online test had (around 5) aptitude questions and others were technical questions(around 25-28) from analog & digital electronics.Two to four questions were c code snippets for which we had to tell the output. <br>

			Round 2(45-60 mins):This was Technical interview round,the interviewer asked me questions on MOSFETs,Pipelining & Latency,Low Power Designs of AddersDeMorgan’s law,Comparison of Power consumption of 2 processors with different stages of pipelining and clock speed,computer architecture block diagram,difference between AM & FM,AM Radio,Nyquist criteria and Verilog code for D FlipFlop.He even asked me whether i knew Perl or any scripting language(i didn’t know about that but he was fine with it).After this round interviewer was impressed on my performance and decided to send me for HR Round instead of 2nd Technical Round. <br>

			Round 3(15-20 mins):HR round was very easy and casual one. She asked me questions like Tell me about yourself, what motivated me for doing the mini projects as i had nearly 7-8 projects on my resume ,why samsung and then she asked if i had any questions,after 3-4 questions from my side we were done with the interview.At the end of this round 3 members were selected for Hardware profile. <br>

			Suggestions to juniors : <br>
			1.If you want to get into hardware company you must concentrate on subjects like CMOS VLSI Design,EDC,DSD,LICA,CAO. <br>
			2.If possible try to learn Verilog on your own which will make you different from other candidates. <br>
			3.Be confident and don't hesitate while answering in the interview.Be clear to your answers and if u don't know the solution you can directly say,they are okay with it. <br>
			GOOD LUCK..!!
		</div>
	</div>
	<div class="tab-pane fade" id="phw14-18">
		<div class="jumbotron">
			<h2>Name : Falguni Ghosh</h2>
			<h2>Company : Qualcomm</h2>
			<h4>Job profile : Electronics & Software Engineer</h4>
			<h4>CGPA cutoff : 7.5</h4>
			Process of selecton : <br>
			Received Pre-Placement Offer after being Selected for Summer Internship through On-campus Internship Drive while in Third Year <br>
			1. Online Test <br>
			2. Technical Interview <br>

			Description of each round : <br>
			1. Online Test: <br>
			The test of one hour had three sections - <br>
			a) Aptitude - Consisted of 20 questions - easy but time-consuming. Try solving them as quickly as possible. <br>
			b) Programming - Did not ask for problem solving by coding but rather, code snippets were given and mistakes, outputs were to be identified. 20 such questions were there. <br>
			c) Computer Architecture - Again, 20 questions were there. If you are not from CSE and trying to get into software profile, try getting some ideas about it from your friends or through PDFs. That will help to score some marks here. For shortlisting for Electronics Profile (my case), they don't give much importance to this section. In fact, as far as I know, from the next year onwards, for Electronics profile aspirants, this section has been replaced with an ""Analog & Digital Electronics"" Section. <br>
			2. Personal Interview (Technical): <br>
			Interview panel was separate for Software profile and Electronics Profile. In Electronics Profile, very basic Analog and Digital Electronics questions (e.g. ADC, DAC, Counter, Register, Transistor, Diodes etc) were asked. Some small projects on your CV will come in handy too, provided you can explain the project very clearly to the interviewer. <br>
			After getting selected, I interned at Qualcomm Hyderabad office for two months and the PPO offer came soon after. <br>
			Suggestion for juniors: <br>
			In the workplace, knowledge acquired from the course is almost never put to use as that is too backdated for the industry. The interviewer also knows the same and once (s)he understands that you are clear with the basic principles, you are almost surely getting selected. Further, he may focus on some out-of-the-box problems, sometimes giving you a solution for the same and asking you to apply that kind of solution to another problem. In a nutshell, clearing the online test for Qualcomm is the real deal, the interview is pretty easy if you have basic knowledge and a couple of weekend projects.
		</div>
		<div class="jumbotron">
			<h2>Name: Smaritha Kasukurthi</h2>
			<h2>Company:Xilinx</h2>
			<h4>Job Profile :Hardware Engineer</h4>
			<h4>Cgpa cutoff : 7.5</h4>
			Process of Selection : <br>
			Round 1: Written Test <br>
			Round 2 : Personal Interview <br>
			Description of each round: <br>
			In written test , we had questions on Aptitude,Digital,C and OS. <br>
			In personal interview,they asked me about Digital Designing,programming ,Microprocessors.Others were asked about Verilog and Vhdl too .They even asked about mistakes we did in written test. <br>
			Suggestion to the juniors: <br>
			Firstly we need to be strong in our basics.Check the reviews related to company in Glassdoor and Ambition box and prepare accordingly.In interview, they check our confidence levels,honesty and of course subjective knowledge.So,don't get panicked even if you don't know the answer for any question.
		</div>
		<div class="jumbotron">
			<h2>Name: G.Meghana Reddy</h2>
			<h2>Company:Samsung SSIR</h2>
			Process of Selection : <br>
			Pre Placement Offer <br>
			Description of each round: <br>
			For the internship we had two rounds. The first was a technical+Aptitude round and the second one being Group discussion. <br>
			The internship experience was surreal. After we completed the 2 month internship, towards the end we had 2 interviews- 1 technical and 1 HR <br>
			Technical interview <br>
			Basics of digital system design <br>
			Coding in VHDL or verilog ( verilog preferred ) <br>
			CMOS <br>
			CAO ( computer architecture and organisation) - pipelining, MIPS, scheduling <br>
			Memory- RAM, SRAM,DRAM,FPGA,PROM,EEPROM, Flash <br>
			HR interview <br>
			Be confident <br>
			Convince them you are a suitable candidate <br>
			Resources : <br>
			Morris Mano for DSD <br>
			Suggestion to the juniors : <br>
			Revise the basics thoroughly <br>
			Don’t put fake projects in your resume <br>
			Never say “ I don’t know, my professor didn’t teach me this “ <br>
			Instead try to attempt and speak your mind, whatever you are thinking just put it in words. Thus will help the interviewer to understand your thinking process.
		</div>
		<div class="jumbotron">
			<h2>Name: R K S Pranavi </h2>
			<h2>Company's Name :C-DOT</h2>
			<h4>Job Profile : Research Engineer</h4>
			Process of Selection : <br>
			Round1-CGPA Shortlist <br>
			Round2-Personal Interview <br>
			Description of each Round: <br>
			Interview was conducted by a panel of two people.Interview consists of only technical questions.They start from
			basics and go deep based on answers.They asked questions related to projects.So be thorough with the projects.They basically tested me the point at which I break.They only check the confidence levels of the candidate.So answer with confidence.Revise basics before interview. <br>
		</div>
	</div>
</div>
{% endblock content %}