{% extends "base.html" %}
{% load static %}
{% block content %}

<ul class="nav nav-tabs">
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#Hardware">Hardware</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#Software">Software</a>
	</li>
</ul>
<!-- tab contents of h/w and s/w -->
<div class="tab-content">
	<div class="tab-pane container active" id="Hardware">
		<div class="jumbotron">
			<h2>3rd Semister Syllabus</h2>
			<h3>Electronics devices and circuits-I</h3>
			<b>SEMICONDUCTOR DIODES:</b> Band structure of pn junction, current components, Quantitative theory of pn diode, Volt-ampere characteristics and its temperature dependence, Narrow-base diode, Transition and diffusion capacitance of p-n junction diodes, Breakdown of junctions on reverse bias, Zener and Avalanche breakdowns. <br>
			<b>JUNCTION TRANSISTOR:</b> PNP and NPN junction transistors, Characteristics of the current flow across the base regions, Minority and majority carrier profiles, Transistor as a device in CB, CE and CC configurations, and their characteristics, Ebers-Moll Model of BJT. <br>
			<b>Negative Resistance Switching Circuits:</b> Voltage controlled and Current controlled negative resistance circuits, Negative Resistance Characteristics,Tunnel diode and its V-I characteristics, Applications using Tunnel diode and UJT. <br>
			<b>TRANSISTOR BIASING:</b> The operating Point , DC & AC load lines, Fixed Bias and problems, Collector Feedback Bias, Emitter Feed Back Bias, Self-Bias and problems, Stabilization, various stabilization circuits, Thermal runaway and thermal stability. <br>
			<b>FIELD EFFECT TRANSISTORS:</b> JFET and its characteristics, Pinch off voltage and drain saturation current, MOSFET: enhancement, depletion modes, Biasing of FETs. <br>
			<b>SMALL SIGNAL LOW FREQUENCY TRANSISTOR AMPLIFIER CIRCUITS:</b> Transistor hybrid model, Analysis of transistor amplifier circuits using ‘h’ parameters, Conversion formulae for the parameters of the three configurations, Analysis of single stage transistor amplifier circuits, RC coupled amplifier. <br>Effect of bypass and coupling capacitors on the low frequency response of the amplifier, FET amplifier configurations, Low frequency response of amplifier circuits, Analysis of single stage FET amplifier circuits. <br>
			<b>WAVE SHAPING CIRCUITS:</b> High pass and low pass circuits, Response to sine, step, pulse, square, and ramp inputs with different time constants, High pass as a differentiator, Low pass as an Integrator, Clipping circuits: Diode clippers, transistor clippers and two level clippers, Clamping circuits using diodes. <br>
			<b>Reference books:</b><br>
			1. Millman and Halkias, Integrated Electronics, 2nd Edition, Tata McGraw Hill, 2010. <br>
			2. Y.N. Bapat, Electronic devices and circuits, Discrete and Integrated, 3rd Edition, Tata McGraw Hill, 2011. <br>
			3. Millman and Taub, Pulse, Digital and Switching Waveforms, 3rd Edition, Tata McGraw-Hill Education, 2011. <br>
			4. David A. Bell, Solid State Pulse Circuits, 4th Edition, Prentice Hall India, 2009. <br>
			5. Robert L Boylested and Louis Nashelsky, Electronic Devices and Circuit Theory, 8th Edition, PHI, 2003. <br>
			6. David A Bell, Electronic Devices and Circuits, 4th Edition, PHI, 2003. <br><br>
			<b>Drive links for reference books:</b><br>
			<a href="https://drive.google.com/file/d/0B6VvY4eJyeuzSk0yMjdDUHFHcWM/view">https://drive.google.com/file/d/0B6VvY4eJyeuzSk0yMjdDUHFHcWM/view</a>
			<br><br>
			<h3>Digital System and Design I</h3>
			<b>Combinational circuit design:</b> Design with basic logic gates, comparators, data selectors, priority encoders, decoders, full adder, serial binary adder, parallel binary adders-ripple-carry adder, carrylook ahead adder; Parallel prefix adders- Carry select Adder, Conditional sum adder, Kogge-stone Adder, Brent-kung adder, Verilog models. <br>
			<b>Testing of Combinational circuits:</b> Fault models, structural testing: path sensitization Logic families: TTL and CMOS Logic circuits, Transfer characteristics, fan-in, fan-out, noise margin, rise time and fall time analysis, realization of Boolean equations using CMOS logic 
			Sequential circuit design: Memory elements and their excitation functions SR, JK, T, and D latches and flip-flops, master slave JK flip-flop, edge-triggered flip-flop, synchronous and asynchronous counters, finite-state machine, sequence detector, minimization and transformation of sequential machines, Registers, Verilog models <br>
			<b>Memory:</b> Types of memories, MOS SRAM cells, DRAM, SDRAM, DDR SDRAM, DDR2 SDRAM, DDR4 SDRAM, organization of a SRAM, Organization of SDRAM, Periphery circuitry of Memory, Flash memory, SD card <br>
			<b>Reference books:</b>
			1. William J. Dally and John W. Poulton, Digital Systems Engineering, Cambridge University Press, 2008. <br>
			2. Schilling, Herbert Taub and Donald, Digital Integrated Electronics, Tata McGraw-Hill, 2008. <br>
			3. Jayaram Bhasker, Verilog Primer, 3rd edition, Prentice-Hall India, 1998. <br>
			4. Sameer Palnitkar, Verilog HDL: A guide to digital Design and Synthesis, 2nd edition, Pearson, 2003. <br>
			5. John F Wakerly, Digital Design Principles and Practices, 3rd Edition, Prentice Hall India, 2001. <br>
			6. Franklin P. Processor, David E. Winkel, The Art of Digital Design: An Introduction to TopDown Design, 2nd Edition, PTR Prentice Hall, 1987. <br>
			<b>Reference videos:</b><br>
			<a href="https://www.youtube.com/results?search_query=digital+electronics+neso+academy">https://www.youtube.com/results?search_query=digital+electronics+neso+academy</a><br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1kdkVuATqvRotOpkFqJPDOzAQL3LqTsUW">https://drive.google.com/drive/folders/1kdkVuATqvRotOpkFqJPDOzAQL3LqTsUW</a><br>
			<b>Reference book for Verilog HDL:</b><br>
			<a href="https://drive.google.com/file/d/1d_1JQAlQQlML464KoLZBA8vsY1mu5ToX/view?usp=sharing">https://drive.google.com/file/d/1d_1JQAlQQlML464KoLZBA8vsY1mu5ToX/view?usp=sharing</a>
			<br><br>


			<h3>Signals and Systems</h3>
			<b>SIGNALS AND SYSTEMS:</b> Continuous Time and Discrete Time signals, Exponential and Sinusoidal Signals, Unit Impulse and Unit Step Functions, Continuous and Discrete Time Systems, basic System Properties. <br> 
			<b>LINEAR TIME INVARIANT SYSTEMS:</b> Discrete Time LTI Systems, Continuous Time LTI Systems, properties of LTI Systems, causal LTI Systems Described by Difference equations. <br>
			<b>FOURIER SERIES REPRESENTATION OF PERIODIC SIGNALS:</b> Response of LTI systems to Complex Exponentials, Fourier series Representation of CT periodic Signals, properties of CT Fourier Series, Fourier Series representation of DT periodic Signals, properties of DFS, Fourier series and LTI Systems, Filtering, Examples of CT filters, Examples of DT filters.  <br>
			<b>CONTINUOUS TIME FOURIER TRANSFORM:</b> Representation of a periodic Signals by continuous FT, FT of periodic signals, convolution and multiplication property of continuous FT, systems characterized by Linear Constant Coefficient Differential Equations. <br>
			<b>TIME AND FREQUENCY CHARACTERIZATION OF SIGNALS AND SYSTEMS:</b> Magnitude and phase representation of FT, Magnitude and phase response of LTI systems, Time domain and Frequency domain aspects of ideal and non-ideal filters. <br>
			<b>DISCRETE TIME FOURIER TRANSFORM (DTFT) and DISCRETE FOURIER TRANSFORM (DFT):</b> Properties of DTFT and DFT, convolution property, multiplication property, Duality, Systems characterized by Linear Constant Coefficient Difference Equations. <br>
			<b>SAMPLING:</b> Sampling theorem, Impulse sampling, sampling with zero order Hold, Reconstruction of signal from its samples using interpolation, Effect of under sampling 
			Z-TRANSFORM: Z-transform, Region of convergence and its properties, Inverse Z transform, properties of ZT, Analysis and characterization of LTI systems using ZT, LTI Systems, System function algebra and block diagram representations. <br>
			<b>SIGNAL FLOWGRAPHS:</b> Impulse Response and Transfer function of linear Systems, Block diagrams, Signal flow graphs, Basic properties of SFG, SFG Terms, SFG Algebra, Gain formula, Application of gain formula to block diagrams. <br>
			<b>Reference books:</b><br>
			1. Alan V. Oppenheim, Alan S. Willsky, S. Hamid Nawab, Signals and Systems Prentice Hall India, 2nd Edition, 2009. <br>
			2. John G. Proakis, Dimitris G. Manolakis, Digital Signal Processing, Principles, Algorithms, and Applications, 4th Edition, PHI, 2007. <br>
			3. Robert A. Gable, Richard A. Roberts, Signals & Linear Systems, 3rd Edition, John Wiley, 1995. <br>
			<b>Reference videos:</b><br>
			<a href="https://www.youtube.com/results?search_query=signals+and+systems+neso+academy">https://www.youtube.com/results?search_query=signals+and+systems+neso+academy</a><br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1ixUInliK8cL_zXrQ6Wa4GNZxSD2R5oD-">https://drive.google.com/drive/folders/1ixUInliK8cL_zXrQ6Wa4GNZxSD2R5oD-</a>
			<br><br>



			<h3>Network Analysis</h3>
			<b>Introduction</b><br>
			<b>CIRCUIT ELEMENTS AND RELATIONS:</b> Types of Sources and Source Transformations - Dot convention and formation of loop and node equations, <br>
			<b>NETWORK GRAPHS AND ANALYSIS:</b> Graph of a network, Incidence matrix, Cutset and tie set matrices - Formation of equilibrium equations - Dual networks. <br>
			<b>TIME DOMAIN ANALYSIS: </b> Solution of network equations in time domain - classical differential equations approach - Initial conditions and their evaluation - Applications to simple RLC - circuits only. <br>
			<b>APPLICATIONS OF LAPLACE TRANSFORMS IN CIRCUIT THEORY:</b> Laplace transforms of Various signals of excitation - Waveform synthesis, Laplace transformed networks - Determination and representation of initial conditions - Response for impulse function only and its relation to network admittance - convolution integral and applications. <br>
			<b>STEADY STATE ANALYSIS OF CIRCUITS FOR SINUSOIDAL EXCITATIONS: </b> 1-phase series, parallel, series - parallel circuits - Solution of AC networks using mesh and nodal analysis. <br>
			<b>RESONANCE AND LOCUS DIAGRAMS:</b> Series and parallel resonance - Selectivity - Bandwidth - Q factors – Times circuits. Locus diagrams for RL and RC circuits with AC excitation for parametric and frequency variations under steady state conditions. <br>  
			<b>NETWORK THEOREMS AND APPLICATIONS: </b>Superposition theorem; Thevenins and Nortons theorems; substitution and compensation theorems - Reciprocity theorem; Millman's theorem; Maximum power transfer theorem; Tellegen's theorem - Their applications in analysis of networks. <br>
			<b>Reference books:</b> <br>
			1. M.E.Van Valkenberg, Network Analysis, Prentice Hall India, 3rd Edition, 2002. <br>
			2. Charles A Desoer, Ernest S Kuh, Basic Circuit Theory, McGraw Hill, 1969. <br>
			3. M.L. Soni and J.C. Gupta, A Course in Electrical Circuits Analysis, Dhanpat Rai & Co.(P), 2001. <br>
			4. G.K. Mithal and Ravi Mittal, Network Analysis, Khanna Khanna Pub, 1998. <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1_3Hqb0fjXJsN05NqzVMMNgK6uxLV7gY1">https://drive.google.com/drive/folders/1_3Hqb0fjXJsN05NqzVMMNgK6uxLV7gY1</a><br>
			<a href="https://drive.google.com/drive/folders/18VC6GCPvO6i-Mn0tOetep5aVWkP8K8ri">https://drive.google.com/drive/folders/18VC6GCPvO6i-Mn0tOetep5aVWkP8K8ri</a><br>
			<a href="https://drive.google.com/drive/u/0/folders/0BzjFfwp9ldWzfnZQV0cwVHVSYzR2UllETDRpNExUZ21fX0p4OUtJbkVJbFRWWU5kVktQQTQ">https://drive.google.com/drive/u/0/folders/0BzjFfwp9ldWzfnZQV0cwVHVSYzR2UllETDRpNExUZ21fX0p4OUtJbkVJbFRWWU5kVktQQTQ</a><br>

			<br>


			<h3>Complex Variables and Special functions</h3>
			<b>Complex Functions :</b> Complex function: Limit - Derivative - Analytic functions - Cauchy Riemann equations - Laplace's equation. Mappings: Conformal Mapping - Linear fractional transformation. Complex integration: Line integrals in complex plane - Cauchy’s theorem (simple proof only) - Cauchy’s integral formula. Series Expansions: Taylor's and Laurent's series expansions - zeros and singularities - Residue theorem - Evaluation of real integrals using residue theorem. Schwartz- Christoffel transformation. <br>
			<b>Series Solutions:</b> Classification of singularities of an ordinary differential equation - Series solution - Method of Frobenius - Indicial equation - Illustrations. <br>
			<b>Bessel Functions:</b> Bessel equation - Bessel function - Generating function - Recurrence relations - Orthogonality of Bessel functions - Simple Illustrations. <br>
			<b>Legendre Functions:</b> Legendre equation - Legendre functions - Rodrigue's formula - Recurrence relations - Generating function - Orthogonality of Legendre polynomials - Simple Illustrations. <br>
			<b>Reference books:</b> <br>
			1. R.V. Churchill, Complex variables and its applications, McGraw Hill, 2009. <br>
			2. W.W. Bell, Special Functions for Scientists and Engineers, Dover Publications, 2004. <br>
			3. Erwin Kreyszig: Advanced Engineering Mathematics, John Wiley and Sons, 8 th Edition, 2008. <br>
			4. B.S. Grewal: Higher Engineering Mathematics, Khanna Publications, 2017. <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1MlnrS3pD_yudo0pUTA1VY6p6oFkVarOv">https://drive.google.com/drive/folders/1MlnrS3pD_yudo0pUTA1VY6p6oFkVarOv</a>
			<a href="https://drive.google.com/drive/u/0/folders/0BzjFfwp9ldWzfkhvb1BVOXZ0b2R0a0lvVTB5d1VNRldYd3g4aWx4M09lc3dBY2tqNm9kd0k">https://drive.google.com/drive/u/0/folders/0BzjFfwp9ldWzfkhvb1BVOXZ0b2R0a0lvVTB5d1VNRldYd3g4aWx4M09lc3dBY2tqNm9kd0k</a>
			<a href="https://drive.google.com/open?id=1_2YvDY7GWiXB3QNYvkYSX7Yh0uAZdShl">https://drive.google.com/open?id=1_2YvDY7GWiXB3QNYvkYSX7Yh0uAZdShl</a><br>
			<br>
			<h3>Data Structures</h3>
			Introduction to Data Structures, Asymptotic Notations, Theorems and Examples based on Asymptotic Notations, Stack Data Structure and its Applications, Queue Data Structure and its Applications, Linked Lists, Trees and tree traversals, Dynamic Sets and Operations on Dynamic Sets, Binary Search Tree and its Operations ,Heap Data Structure 
			Priority Queue, AVL Trees. <br> , Direct Addressing; Introduction to Hashing , Collision Resolution by Chaining, Collision Resolution by Open Addressing, Lower Bound for Comparison based Sorting Algorithms, Insertion Sort, Merge Sort, Quick Sort. <br>
			Heap Sort and Counting Sort, Radix Sort, Introduction to Graphs and Representation of Graphs, Depth First Search (DFS), Breadth First Search (BFS), Applications: BFS and DFS. <br>
			Prim’s Algorithm for finding Minimum Spanning Tree (MST), Kruskal’s Algorithm for finding MST, Dijkstra’s Algorithm for Single Source Shortest Paths <br>
			Floydd-Warshall Algorithm for All-Pairs Shortest Path Problem <br>
			<b>Reference books:</b><br>
			1. Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest and Clifford Stein, Introduction to Algorithms, PHI, 2nd Edition, 2009. <br>
			2. Mark Allen Weiss, Data Structures and Algorithm Analysis in C++, Third Edition, Pearson Education, 2006 <br>
			3. Ellis Horowitz, Sartaj Sahni and Sanguthevar Rajasekaran, Fundamentals of Computer Algorithms, Universities Press, 2nd Edition, 2011. <br> 
			4. Michael T.Goodrich and Roberto Tamassia, Algorithm Design: Foundations, Analysis and Internet Examples, Wiley India, 2nd Edition, 2006. <br>
			<b>Reference websites:</b><br>
			<a href="https://www.geeksforgeeks.org/data-structures/">https://www.geeksforgeeks.org/data-structures/</a><br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1hYL1kMd5z9RjhV1O6o9000ANst6L5HYF">https://drive.google.com/drive/folders/1hYL1kMd5z9RjhV1O6o9000ANst6L5HYF</a><br>
			<br>
		</div>
		<div class="jumbotron">
			<h2>4th Semister Syllabus</h2>
			<h3>Electronic Devices and Circuits-II</h3>
			<b>MULTISTAGE AMPLIFIERS:</b> Classification of amplifiers, Distortion in amplifiers, Frequency response of an Amplifier, Bode plots, Step response of an amplifier, CE short circuit current gain, High frequency response of a CE stage. Gain bandwidth product, Emitter follower at high frequencies, Analysis of Multistage amplifier, Design of two stage amplifier, Common Source and Common Drain amplifier at high frequencies. Frequency response of cascaded stages, Cascode amplifiers (CE-CB), the effect of coupling and bypass capacitors, Differential amplifiers, Analysis of Differential amplifiers. <br>
			<b>FEEDBACK AMPLIFIERS:</b> Classification and representation of amplifiers, Feedback concept, the transfer gain with feedback, General characteristics of negative feedback amplifiers. Impedance in feedback amplifiers. Properties of feedback amplifier topologies, approx. analysis of feedback amplifiers, Method of analysis of a feedback amplifier. The shunt feedback triple, Shunt- series pair, Series shunt pair, series triple, general analysis of multistage feedback amplifiers.  <br>
			<b>STABILITY AND RESPONSE OF FEEDBACK AMPLIFIER:</b> Effect of feedback on bandwidth, Stability, Test of stability, Compensation, General method of compensation, Frequency response of feedback amplifier double pole transfer function. Phase Margin and gain Margin, Three pole transfer function with feedback amplifier response, approximate analysis of a multi pole feedback amplifier. <br>
			<b>OSCILLATORS:</b> Sinusoidal oscillators, Barkhausen Criterion, Analysis and design of RC phase shift (FET/ BJT) oscillator, Wien bridge oscillators. Resonant circuit oscillators, General form of oscillator circuit (Hartley & Colpitts), Crystal oscillators. <br>
			<b>POWER AMPLIFER:</b> Class A, B, AB, and C power amplifiers, push – pull and complementary symmetry push-pull amplifier. Design of heat sinks, power output, efficiency, crossover distortion and harmonic distortion. <br>
			<b>TUNED AMPLIFIER:</b> Design and analysis of single tuned amplifier circuit with a capacitor coupled load, double tuned inter stage design. Stability consideration, Class B and class C tuned power amplifiers. <br>
			<b>Reference books:</b><br>
			1. Integrated Electronics J.Millman & Halkias, TMH <br>
			2. Micro Electronics 2nd Edition J.Millman & Arian Grabel, TMH. <br>
			3. Electronic circuits, 1st Ed., Md.Gausi, John Wiley <br>
			4. Micro Electronic Circuits, A.S.Sedra & K.C.Smith , 4th edition, Oxford press <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/file/d/0B6VvY4eJyeuzSk0yMjdDUHFHcWM/view">https://drive.google.com/file/d/0B6VvY4eJyeuzSk0yMjdDUHFHcWM/view</a><br><br>



			<h3>Macro Economics and Accountancy</h3>
			1. National Income Accounting, Methods of Estimation, Various Concepts of National Income, Significance of National Income Estimation and its limitations. <br>
			2. Inflation, Definition, Process and Theories of Inflation and Measures to Control, <br>
			3. Balance of Payments and Exchange Rates <br>
			4. New Economic Policy 1991, LPG, Growth of Electronics Industry, startup culture and efforts of the government, NITI Aayog and Make in India.  <br>
			5. Choosing between alternative investment proposals,methods of economic Analysis.  <br>
			6. Financial IRR, Equity Vs Debt, Impact of borrowing on investment.  <br>
			7. Depreciation and methods of calculating depreciation (Straight line, Sum of the years digit method, declining Balance Method, Annuity Method, Sinking Fund method) <br>
			8. Analysis of financial statements, income statements and balance sheet (simple ratio’s).  <br>
			9. Cost Accounting, Introduction, Classification of costs, Methods of Costing, Techniques of Costing, Cost sheet and preparation cost sheet, Breakeven Analysis, Meaning and its application, Limitations. <br>
			<b>Reference books:</b><br>
			1. D N Dwivedi “Managerial Economics”, Vikas Publishing House Private Limited  <br>
			2. Agrawal AN, “Indian Economy” Wiley Eastern Ltd, New Delhi  <br>
			3. R.K Sharma and Sashi K Gupta,” Financial Management”,Kalyani Publications  <br>
			4. Arora, M.N.” Cost Accounting”, Vikas Publication <br><br>

			<h3>Digital Systems and Design-II</h3> <br>
			Elements of Design style, Top–down design, separation of controller and architecture, Refining architecture and control algorithm, Algorithmic state Machines (ASM), ASM chart notations. <br>
			Design of Digital systems using top-down approach: Serial to parallel data conversion, Traffic light controller, Vending machine controller and Serial adder, 32-bit MIPS processor.  <br>
			Traditional synthesis for ASM charts and Multiplexer controller method, One -hot method and ROM based method.  <br>
			Shift and add multiplier, Booth’s multiplier, Modified booth’s multiplier, Vedic Multiplier, Array multiplier, Non-restoring divider, Single precision Floating point adder/multiplier/divider, ALU, MAC unit, Barrel shifter <br> 
			Programmable logic devices: CPLD/ FPGA devices, Design flow using FPGA/CPLD, Implementation of 32-bit MIPS processor <br>
			<b>Memory management:</b> memory hierarchies- cache memory organization, replacement policies; Virtual memory-Paging <br>

			<b>Reference books:</b><br>
			1. William J. Dally and John W. Poulton, Digital Systems Engineering, Cambridge University Press, 2008.  <br>
			2. Franklin P. Processor, David E. Winkel, The Art of Digital Design: An Introduction to TopDown Design, 2nd Edition, PTR Prentice Hall, 1987  <br>
			3. John L. Hennessy David A. Patterson, Computer Organization and Design : The Hardware/Software Interface 4th Edition, Morgan Kaufmann, 2011  <br>
			4. Sameer Palnitkar, Verilog HDL: A guide to digital Design and Synthesis, 2nd edition, Pearson, 2003 <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/file/d/1d_1JQAlQQlML464KoLZBA8vsY1mu5ToX/view?usp=sharing">https://drive.google.com/file/d/1d_1JQAlQQlML464KoLZBA8vsY1mu5ToX/view?usp=sharing</a><br>
			<a href="https://drive.google.com/drive/u/0/folders/1DUsSekTkFGtvBLfDssvRDKstP3hfhjb3">https://drive.google.com/drive/u/0/folders/1DUsSekTkFGtvBLfDssvRDKstP3hfhjb3</a><br><br>

			<h3>Probability Theory and Stochastic Processes</h3>
			Scheme of Instructions, Introduction to Subject, Axioms of Probability, Probability Space, Conditional Probability, Bays Theorem, Repeated Trails , Bernoulli’s Trails , Problems, Concept of a Random Variable, Distribution and density functions, Properties of distribution functions, Continuous type random variable, Normal, Exponential , chi-square, Rayleigh, Nakagami-m, uniform distributions ,etc. Problems, Bernoulli, Binomial, Poission distributions, Negative binomial distributions.  <br>
			Conditional distributions, Total probability and bays theorem, passion approximation Problems, Functions of one random variable: Expectation, Variance, Moments, Characteristic functions Problems, One function of two random variable, joint moments, joint characteristic functions, conditional distributions, conditional expected values, Random Process concept, Stationarity and independence.  <br>
			Distribution and density functions, statistical independence, First-order stationary processes, Second order and wide sense stationary process, Problems, Nth order and strict sense stationary process, problems <br>
			Time averages and ergodicity , Mean ergodic process, Auto correlation function and its properties, Cross- correlation function and its properties, Covariance functions, discrete time processes and sequences, Power density spectrum and its properties, Problems, Linear systems with random inputs.  <br>
			Random signal response, Auto correlation functions of the response, Cross correlation functions of input and output system, Power density spectrum of the response, Problems. <br>
			<b>Reference books:</b><br>
			1. P.Z. Peebles.Jr., PROBABILITY, RANDOM VARIABLES AND RANDOM SIGNAL PRINCIPLES, Tata McGraw Hill Education, 3rd edition, 2002.  <br>
			2. A.Papoulis, Probability, Random variables and Stochastic Processes, McGraw Hill, 3rd edition, 1991. <br>

			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/u/0/folders/1sssWIjZXr6D66ismDfdBvRmjjAqCCGkh">https://drive.google.com/drive/u/0/folders/1sssWIjZXr6D66ismDfdBvRmjjAqCCGkh</a><br><br>

			<h3>Control System Engineering</h3>
			<b>Introduction:</b> Concepts of Control Systems- Open Loop and closed loop control systems and their differences- Different examples of control systems- Classification of control systems, Feed-Back Characteristics, Effects of feedback. Mathematical models – Differential equations, Impulse Response and transfer functions.  <br>
			<b>Transfer Function Representation:</b> Block diagram representation of systems considering electrical systems as examples -Block diagram algebra – Representation by Signal flow graph - Reduction using mason’s gain formula.  <br>
			<b>Time Response Analysis:</b> Standard test signals - Time response of first order systems – Characteristic Equation of Feedback control systems, Transient response of second order systems - Time domain specifications – Steady state response - Steady state errors and error constants – Effects of proportional derivative, proportional integral systems.  <br>
			<b>Stability Analysis in S-Domain:</b> The concept of stability – Routh’s stability criterion – qualitative stability and conditional stability – limitations of Routh’s stability.   <br>
			Root Locus Technique: The root locus concept - construction of root loci-effects of adding poles and zeros to G(s) H(s) on the root loci. <br>
			<b>Frequency Response Analysis:</b> Introduction, Frequency domain specifications-Bode diagramsDetermination of Frequency domain specifications and Phase margin and Gain marginStability Analysis from Bode Plots. Polar Plots, Nyquist Plots Stability Analysis. Compensation techniques – Lag, Lead, and Lead-Lag Controllers design in frequency Domain, PID Controllers.  <br>
			<b>State Space Analysis of Continuous Systems:</b> Concepts of state, state variables and state model, derivation of state models from block diagrams, Diagonalization- Solving the Time invariant state Equations- State Transition Matrix and it’s Properties – Concepts of Controllability and Observability. <br>
			<b>Reference books:</b><br>
			1. Control Systems Theory and Applications - S. K. Bhattacharya, Pearson.  <br> 
			2. B.C. Kuo, Automatic Control Systems, 7th Edition, Prentice Hall of India, 2009. <br>
			3. I.J. Nagarath and M. Gopal: Control Systems Engineering, 2nd Edition, New Age Pub. Co. 2008. 
			5. Control Systems - N. C. Jagan, BS Publications. <br>
			6. Control Systems - A. Ananad Kumar, PHI. <br>
			7. Control Systems Engineering - S. Palani, TMH. <br>
			8. Control Systems - Dhanesh N. Manik, Cengage Learning. <br>
			9. Control Systems - N. K. Sinha, New Age International (P) Limited Publishers. <br>

			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/file/d/11qHYJfiYmayBU6o_Buy2sbmydqCI60Es/view?usp=sharing">https://drive.google.com/file/d/11qHYJfiYmayBU6o_Buy2sbmydqCI60Es/view?usp=sharing</a><br><br>

			<h3>Transmission Lines and EM Waves</h3>
			<b>Networks and Transmission line:</b> Image and iterative impedance, characteristic impedance Types of Transmission lines, Applications of Transmission lines, Equivalent circuit of a pair of Transmission lines, Primary constants, transmission line equations, Secondary constants, Distortion less Transmission lines, Phase & Group velocities, Input impedance of Transmission line, Loading of Lines  <br>
			<b>RF lines:</b> RF lines, Lossless transmission lines, Relation between reflection coefficient, load and characteristic impedance, Relation between reflection coefficient and voltage standing wave ratio, Line of different lengths λ/8, λ/4, λ/2 , Losses in Transmission lines, Smith chart and applications, Impedance matching with single and double stubs.  <br>
			<b>Static Electric and steady Magnetic field:</b> Coordinate systems, Coloumb’s law, Electric Field Intensity, Electric flux density, Gauss’s law, Application of Gauss’s law, point form of Gauss’s law, potential, Potential gradient, Electric Dipole, Current and Current density, Continuity of current, Boundary conditions Poisson’s and Laplace’s equation. Ampere’s law, curl, Vector magnetic potentials, Magnetic Boundary conditions. <br> 
			<b>Maxwell's equations:</b> The equation of continuity for time varying fields, Maxwell's equations, Conditions at a boundary surface. Applications of circuit and field theory, Comparison of field and circuit theory, Maxwell’s equations as generalization of circuit equations  <br>
			<b>Electromagnetic waves:</b> Plane waves: Wave equations, Plane waves in materials, skin effect, Poynting vector and the flow of power: Poynting theorem, Polarization of plane waves. Power flow for a plane wave and Power loss in a plane conductor. 
			Reflection and Transmission of Plane Waves: Refelction and Transmission at a general dielectric interface, Normal Incidence, Refection and Transmission at conductor on oblique incidence, Oblique Incidence on dielectric Interfaces. <br>

			<b>Reference books:</b><br>
			1. John D. Ryder, “Network lines and Fields”, PHI, Second Edition (Reprint), 2008  <br>
			2. Engineering Electromagnetics W H Hayt, J A Buck, Seventh Edition, Mc Graw Hill Companies, 2006  <br>
			3. Elements of Electromagnetics, Matthew N O Sadiku, Fourth Edition, Oxford University Press, 2007  <br>
			4. David K. Cheng, “Field and Wave Electromagnetics”, Pearson, 2e, 2014.  <br>
			5. Electromagnetics, Krauss, Mc Graw Hill Companies.  <br>
			6. Engineering Electromagnetics, Nathan Ida, Second Edition, Springer, 2005  <br>
			7. Transmission Lines and Networks, JOHNSON, Mc-Graw Hill, 1950.  <br>
			8. Electromagnetic Waves and Radiating Systems, EC Jordan & K. G. Balmain, Prentice Hall of India. <br>

			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/file/d/1rrvPyM2uRgnzZqTUMJrUDvrMaZPh7v1K/view?usp=sharing">https://drive.google.com/file/d/1rrvPyM2uRgnzZqTUMJrUDvrMaZPh7v1K/view?usp=sharing</a>
			<a href="https://drive.google.com/file/d/1HSB_uc7_oUKbhj9o8SLvYRwhsGa7gzxS/view?usp=sharing">https://drive.google.com/file/d/1HSB_uc7_oUKbhj9o8SLvYRwhsGa7gzxS/view?usp=sharing</a><br><br>
		</div>
		<div class="jumbotron">
			<h2>5th Semister Syllabus</h2>
			<h3>CMOS VLSI</h3>
			<b>INTRODUCTION to MOSFETs:</b> Unit process steps of CMOS technology, Fabrication process flow: NMOS, PMOS, Twin well CMOS; Structure and operation of the MOS transistor, I-V and C-V characteristics, MOSFET capacitances, layout, design rules, Scaling and Short channel effects.  <br>
			<b>MOS INVERTERS:</b> Inverters with resistive, MOSFET load; CMOS inverter: Voltage transfer characteristics, Noise margins, switching characteristics, calculation of delay times; effect of load on switching characteristics and driving large loads, logical effort of paths 
			Digital circuits using CMOS: Pseudo NMOS, Pass transistor, transmission gates, Dynamic logic, Domino logic, Differential cascode voltage switch logic, design of combinational circuits, design of sequential circuits, timing requirements.  <br>
			<b>Analog circuits:</b> Second order effects in MOSFETs. Single stage Amplifiers: Common-source stage, Source follower, Common-gate, Cascode stage, Differential Amplifiers, Passive and Active current mirrors, CMOS operational amplifier, gain boosting techniques. 
			Trends in CMOS technology: SOI, FinFET and multi-gate FET, 2D materials based FETs, On-chip interconnects. <br>
			<b>Reference books:</b><br>
			1. Sung-Mo Kang, Yusuf Leblebici Chulwoo kim, Digital Integrated Circuits: Analysis and Design, 4 th Edition, McGraw Hill Education, 2016.  <br>
			2. Behzad Razavi, Design of Analog CMOS Integrated Circuits, 2nd Edition, McGraw Hill Education, 2016.  <br>
			3. Jan M RABAEY, Digital Integrated Circuits, 2nd Edition, Pearson Education, 2003.  <br>
			4. Neil H.E. Weste and David Harris, CMOS VLSI Design: A circuits and systems perspective, 4 th Edition, Pearson Education, 2015. <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1U7CZZPm6FiArCdgAWX44uh1C2pFjWBY2">https://drive.google.com/drive/folders/1U7CZZPm6FiArCdgAWX44uh1C2pFjWBY2</a><br><br>

			<h3>Analog and Digital Communication</h3>
			<b>INTRODUCTION:</b> Introduction to communication system, Communication Channels, Need for modulation, Analog vs Digital, Review of Signals and Systems.  <br>
			<b>AMPLITUDE MODULATION:</b> Definition, Time domain and frequency domain description - AM, DSBSC, single tone modulation, power relations in AM waves, Generation of AM waves (square law, Switching), Envelop detector, Generation of DSBSC Waves (Balanced, Ring), Coherent detection of DSB-SC Modulated waves, COSTAS Loop.  <br>
			<b>SSB MODULATION:</b> Time domain, Frequency domain description, Frequency discrimination, Demodulation of SSB Waves, Frequency Division Multiplexing, Vestigial side band modulation- Time domain, Frequency description, Envelope detection of a VSB Wave pulse Carrier, Comparison of AM Techniques, Applications of different AM Systems.  <br>
			<b>ANGLE MODULATION:</b> Basic concepts, Frequency Modulation: Single tone frequency modulation, Spectrum Analysis of Sinusoidal FM Wave, Narrow band FM, Wide band FM, Constant Average Power, Transmission bandwidth of FM Wave – Generation and Demodulation of FM Waves; Comparison of FM and AM, Super heterodyne Receiver.  <br>
			<b>PULSE MODULATION TECHNIQUES:</b> Pulse Analog and Pulse Digital Modulation Schemes–Pulse Amplitude Modulation, Pulse width modulation, PPM, TDM, Pulse Code Modulation, Differential PCM systems (DPCM), Delta modulation, adaptive Delta modulation, comparison of PCM and DM systems, noise in PCM and DM systems.  <br>
			<b>DETECTION AND ESTIMATION:</b> Model of Digital Communication Systems, Gram-Schmidt Orthogonalization, Geometric interpretation of signals, detection of known signals in noise, probability of error, matched filter receiver, correlation receiver  <br>
			<b>BASE BAND SHAPING FOR DATA TRANSMISSION:</b> Requirements of a line encoding format, various line encoding formats- Unipolar, Polar, Bipolar, Discrete PAM signals, Inter symbol interference, Nyquist’s criterion, Raised cosine filter, Eye pattern.  <br>
			<b>DIGITAL MODULATION TECHNIQUES:</b> Digital Modulation formats, Coherent binary modulation techniques (BPSK, BFSK), Coherent quadrature modulation techniques (QPSK), Non-Coherent binary modulation techniques (DPSK), QAM, M-ary modulation techniques (PSK, FSK, QAM), Comparison of M-ary digital modulation techniques, power spectra, bandwidth efficiency;  <br>BER for BPSK <br>
			<b>Reference books:</b><br>
			1. S. Haykin,"Communication Systems", John Wiley and Sons, 2001  <br>
			2. B.P. Lathi, “Modern Digital & Analog Communications Systems”, Oxford University Press  <br>
			3. J. G. Proakis, M. Salehi, "Communication Systems Engineering", Pearson Education, 2002  <br>
			4. H. Taub, D.L. Schilling, "Principles of Communication Systems", Tata McGraw Hill, 2001  <br>
			5. Behrouz A. Forouzan, "Data communication and Networking", Tata McGraw Hill, 2007  <br>
			6. Leon W.Couch II., Digital and Analog Communication Systems, 6th Edition, Pearson Education Inc., New Delhi, 2001. 7. A Bruce Carlson, PB Crilly, JC Rutledge, Communication Systems, 4th Edition, McGraw Hill New York, 2002. <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/18LowWXoC_uADee0T5q9uTzZZL750uw-C">https://drive.google.com/drive/folders/18LowWXoC_uADee0T5q9uTzZZL750uw-C</a> <br><br>

			<h3>Antennas and Propagation</h3>
			<b>Guided waves:</b> Waves between parallel planes, TE and TM waves, characteristics of TE and TM waves, TEM waves, Velocities of propagation, Wave Impedance.  <br>
			<b>Wave guides:</b> Rectangular wave-guides, TE & TM modes in wave-guides, Wave Impedance in rectangular waveguides.  <br>
			<b>Antenna Fundamentals:</b> Introduction to antennas & its significance, Scalar electric potential, vector magnetic potential, radiation from an alternating current element, Induction field, radiation field, power radiated by a current element, Definition of electric dipole, radiation by a half wave dipole. Power by a half wave dipole & its radiation resistance, Radiation from a quarter wave monopole Power radiation and radiation resistance of dipole & monopole (approximate analysis), Radiation resistance of aerials and loop, problems Isotropic radiator, network theorem, application of network theorem to antennas.  <br>
			<b>Antenna Parameters:</b> Radiation pattern, power pattern, field pattern Radiation intensity, Antenna impedance, mutual impedance, gain and directivity, bandwidth, Polarization, efficiency, effective length, area or aperture, scattering loss, Collecting aperture, physical aperture---relation between large aperture and gain Effective aperture of a small elementary dipole, half wave antenna, effective length, front to back ratio, Antenna beam width and side lobes. Friss Transmission formula, Radar range equation. <br> 
			<b>Design of Arrays:</b> N-element linear array- broadside array, End fire array, multiplication of patterns Effect of earth on vertical pattern mutual impedance effects, Binomial arrays, problem solving.  <br>
			<b>Practical antennas:</b> VLF, LF, MF transmitting antennas, resonant & non resonant antennas, V antenna, travelling wave antenna, Rhombic antenna, VHF &UHF antennas, horn antenna Folded dipole & Yagi-Uda antenna, Parabolic reflector antenna,, Corner reflector, Parabolic reflector antenna, Micro strip Antennas.  <br>
			<b>Antenna impedance measurements:</b> Radiation pattern measurements Measurement of antenna beam width and gain, Polarization measurements. Measurement of radiation resistance. <br>
			<b>Wave Propagation:</b> Types of wave propagation, space wave propagation and line of sight distance for flat and curved surfaces. <br>
			<b>Reference books:</b><br>
			1. E.C. Jordan & K.G. Balmain, Electromagnetic waves & Radiating Systems, PHI, 2007 <br>
			2. Antenna Theory: Analysis and Design – Constantine A. Balanis, John Wiley & Sons, 3 rd Ed., 2009.<br>
			3. David K. Cheng, “Field and Wave Electromagnetics”, Pearson, 2e, 2014. <br>
			4. John D. Kraus, Antennas, 2nd Edition, McGraw Hill, 1988. 5. R.E. Collins, Antennas and Radio Propagation, Singapore: McGraw Hill, 1985. 6. David M. Pozar, “Microwave Engineering”, Wiley, 4e, 2012.<br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1ezzWQ9lb7jT1g92a3pngUr3yd6Ol9yNj">https://drive.google.com/drive/folders/1ezzWQ9lb7jT1g92a3pngUr3yd6Ol9yNj</a><br><br>




			<h3>IOT</h3>
			<b>Introduction to IOT:</b> IoT and the connected world, Architecture of IoT, Security issues, Opportunities for IoT  <br>
			<b>The Web of Things:</b> Linked data, Enterprise data, Importance of security, privacy, and authenticity, Industry standards, Web of Things layer as the driver for IoT systems 
			Lessons from the Internet: Relevance of Internet to network of Things, network management, security, mobility and longevity.  <br>
			<b>Technologies:</b> Wireless protocols, Connectivity options. 
			Data storage and analysis: Managing high rate sensor data, Processing data streams, Data consistency in an intermittently connected or disconnected environment, Identifying outliers and anomalies.  <br>
			<b>Use cases:</b> Smart Buildings, Smart health, Home automation, Location tracking CO1 Understand IOT design requirements CO2 Compare various technologies and protocols CO3 Study storage and intelligent analytics CO4 Application of IOT in smart cities CO5 Design and experiment various use cases  <br>
			<b>Smart Cities:</b> Collection of information including opportunistic sensing, crowd sensing, and adhoc sensing Response of the system including analytics and optimization, distributed action, people as intelligent actuators, the risk for cyber-attacks in centralized and distributed systems <br>
			<b>Reference books:</b><br>
			1. Designing the Internet of Things, by Adrian McEwen, Hakim Cassimally Wiley 2013  <br>
			2. Enterprise IoT Naveen Balani Create Space Independent Publishing Platform 2016 <br>
			<b>Drive link for reference books:</b> <br>
			<a href="https://drive.google.com/drive/folders/1uN9i_vDkYRkgUqeXjtVHufzIaHdkQ2dL">https://drive.google.com/drive/folders/1uN9i_vDkYRkgUqeXjtVHufzIaHdkQ2dL</a> <br><br>

			<h3>Computer Architecture</h3>
			<b>OVERVIEW & INSTRUCTIONS :</b> Eight ideas – Components of a computer system – Technology – Performance – Power wall – Uniprocessors to multiprocessors; Instructions – operations and operands – representing instructions – Logical operations – control operations – Addressing and addressing modes.  <br>
			<b>ARITHMETIC OPERATIONS:</b> ALU - Addition and subtraction – Multiplication – Division – Floating Point operations – Sub word parallelism.  <br>
			PROCESSOR AND CONTROL UNIT Basic MIPS implementation – Building data path – Control Implementation scheme – Pipelining – Pipelined data path and control – Handling Data hazards & Control hazards – Exceptions.  <br>
			PARALLELISM Instruction-level-parallelism – Parallel processing challenges – Flynn's classification – Hardware multithreading – Multicore processors 
			<b>MEMORY AND I/O SYSTEMS:</b> Memory hierarchy - Memory technologies – Cache basics – Measuring and improving cache performance - Virtual memory, TLBs - Input/output system, programmed I/O, DMA and interrupts, I/O processors. <br>
			<b>Reference books:</b><br>
			1. David A. Patterson and John L. Hennessey, “Computer organization and design’, Morgan Kauffman / Elsevier, Fifth edition, 2014.  <br>
			2. V.Carl Hamacher, Zvonko G. Varanesic and Safat G. Zaky, “Computer Organisation“, VI edition, Mc Graw-Hill Inc, 2012.  <br>
			3. William Stallings “Computer Organization and Architecture”, Seventh Edition, Pearson Education, 2006.  <br>
			4. Vincent P. Heuring, Harry F. Jordan, “Computer System Architecture”, Second Edition, Pearson Education, 2005. 5. John P. Hayes, “Computer Architecture and Organization”, Third Edition, Tata Mc Graw Hill,1998 <br>
			<b>Drive link for reference books:</b><br>
			<a href="https://drive.google.com/drive/folders/1sH9hwDfLu8hO_RPlgLzIR_zOhbMKvgMd">https://drive.google.com/drive/folders/1sH9hwDfLu8hO_RPlgLzIR_zOhbMKvgMd</a><br><br>

			<h3>Micro Controllers</h3>
			<b>Introduction to Microprocessors and Microcontrollers:</b> Evolution and introduction of 80X86 microprocessor, Architecture of 8086, Memory organization, 8086 system connections and timing. Overview of 8051 microcontroller, Architecture, Instruction set and addressing modes, programming of I/O Ports, Interrupts, timer/ counter and serial communication.  <br>
			<b>Introduction to ARM Processors:</b> Introduction to ARM processors, Evolution of ARM processors, pipeline organization, ARM Processor cores and CPU cores. Introduction to ARM Cortex-M Processors, ARM Cortex-M4 processor’s architecture, Programmer’s model, Special registers, Operation Modes.  <br>
			<b>ARM Cortex-M4 programming:</b> Assembly basics, Instruction set, Data transfer, Data processing, conditional and branch instructions, barrier and saturation operations, Cortex-M4-specific instructions,Thumb2 instructions, Keil Microcontroller Development Kit for ARM, Typical program compilation flow, Sample arithmetic and logical assembly language programs 
			ARM cortex-M4 Memory Systems and interrupts: Overview of memory system features, Memory map, Memory access attributes and permissions, Data alignment and unaligned data access support, Bit-band operations, Overview of exceptions and interrupts, Exception types, Overview of interrupt management, Definitions of priority, Vector table and vector table relocation, Software interrupts, Exception Handling.  <br>
			Cortex-M4 Implementation and applications: Detailed block diagram, Bus interfaces on cortexM4, External PPB interface, typical connections, reset types and signals. Getting started with μVision. <br>
			<b>Applications:</b> Flashing of LEDS using Shift Register, Interfacing stepper motor, Interfacing temperature sensor, Interfacing ADC, Interfacing Real Time Clock, Interfacing of Analog Key pad <br>
			<b>Reference books:</b><br>
			1. Joseph Yiu, The Definitive Guide to ARM Cortex-M3 and Cortex-M4 Processors, Newnes Publications; Third Edition, 2013.  <br>
			2. Ata Elahi-Trever Arjeski, “ARM Assembly language with hardware experiment”, Springer Int. Publishing, 2015.  <br>
			3. Steve Furber , “ARM system on chip Architecture”, Pearson Publications, Second Edition.  <br>
			4. D. V. Hall. Microprocessors and Interfacing, TMGH. Second Edition 2006.  <br>
			5. Wrox, “ Professional Embedded ARM Development”  <br>
			6. William hohl and Christoper Hinds, “ARM assembly language fundamentals and Techniques”CRC, Second Edition, 2015.  <br>
			7. M.A. Mazidi, J.G. Mazidi, R.D. Mckinlay, “The 8051 Microcontroller and Embedded Systems”, Pearson Second Edition. <br>
			<b>Drive link for reference books:</b> <br>
			<a href="https://drive.google.com/drive/folders/15TPLlfQK_MUhGnlIdjIVN3x8x6QZ67a1">https://drive.google.com/drive/folders/15TPLlfQK_MUhGnlIdjIVN3x8x6QZ67a1</a> <br><br>

			<h3>Linear IC Applications</h3>
			<b>INTRODUCTION TO OP-AMPS:</b> ideal Characteristics, Pin configuration of 741 op-amp. Bias, offsets and drift, bandwidth and slew rate. Offset and Frequency compensation. <br> Exercise problems. Practical op amps, Basic building blocks: Current sources and active loads  <br>
			<b>LINEAR AND NON-LINEAR APPLICATIONS OF OP-AMPS:</b> Inverting and non-inverting amplifiers and their analysis, Applications: inverting and non- inverting summers, difference amplifier, differentiator and integrator, Voltage to current converter, Exercise problems. Instrumentation amplifier, Log and antilog amplifiers. Precision rectifier, Non-linear function generator, solving differential equations using analog computing blocks. Analog IC Multipliers and applications Comparators, regenerative comparators, input - output Characteristics, Astable and Monostable multi vibrator, Triangular wave- generators, RC-phase shift oscillator, Wein’s bridge oscillator  <br>
			<b>ACTIVE FILTERS:</b> Low pass, High pass, Band pass and Band Reject filters, Butterworth, Chebychev filters, Different first and second order filter Topologies, Frequency Transformation.  <br>
			<b>TIMERS & PHASE LOCKED LOOPS:</b> 555 Timer functional diagram, monostable and astable operation, applications. PLL- basic block diagram and operation, capture range and lock range; applications of PLL IC 565, AM detection, FM detection and FSK demodulation. VCO IC 566.  <br>
			<b>IC VOLTAGE REGULATORS:</b> Series op amp regulator, three terminal IC voltage regulator exercise problems. IC 723 general purpose regulator, Switching Regulator. <br>
			<b>DIGITAL TO ANALOG AND ANALOG TO DIGITAL CONVERTERS:</b> Weighted resistor DAC, R-2R and inverted R-2R DAC. IC DAC-08. Counter type ADC, successive approximation ADC, Flash ADC, dual slope ADC, 1-bit converters, sigma-Delta ADC. DAC and ADC Specifications, Specifications of AD 574 (12 bit ADC). <br>
			<b>Reference books:</b>
			1. G B Clayton, Operational Amplifiers, 5th Edition, Elsevier science, 2003  <br>
			2. Sergio Franco, Design With Operational Amplifier and Analog Integrated Circuits, 4th Edition, TMH, 2011.  <br>
			3. Roy Choudary D. and Shail B. Jain, Linear Integrated circuits, 4th Edition, New Age International Publishers, 2010  <br>
			4. Ramakant A.Gayakward, Op-Amps and Linear Integrated Circuits, 4th Edition, PHI, 2010. <br>
			<b>Drive link for reference books:</b> <br>
			<a href="https://drive.google.com/drive/folders/1SiL_zPQ0a2PAPhRuKPOvu8IXd9wyvfB9">https://drive.google.com/drive/folders/1SiL_zPQ0a2PAPhRuKPOvu8IXd9wyvfB9</a><br><br>
		</div>
	</div>
	<div class="tab-pane container fade" id="Software">
		<div class="jumbotron">
			<h2>Software Internship Preparation</h2>
			<h3>Courses to prepare before Internship Interviews :</h3>
			<ul>
				<li>Data structures(DS)</li>
				<li>Database Management System(DBMS)</li>
				<li>Object Oriented Programming(OOPs)</li>
			</ul>
			<h3>Data structures :</h3>
			<b>Link for theory along with Solving the problems :</b><br>
			<a href="https://www.geeksforgeeks.org/data-structures/">https://www.geeksforgeeks.org/data-structures/</a>
			<h3>DBMS:</h3>
			<b>Youtube videos of Sanchit jain(Knowledge Gate Channel)</b><br>
			<a href="https://www.youtube.com/playlist?list=PLmXKhU9FNesR1rSES7oLdJaNFgmuj0SYV">https://www.youtube.com/playlist?list=PLmXKhU9FNesR1rSES7oLdJaNFgmuj0SYV</a><br>
			<b>Link for theory:</b><br>
			<a href="https://www.javatpoint.com/dbms-tutorial">https://www.javatpoint.com/dbms-tutorial</a><br>
			<b>Link for practice questions on SQL</b><br>
			<a href="https://www.hackerrank.com/domains/sql">https://www.hackerrank.com/domains/sql</a><br>
			<h3>OOPs:</h3>
			<b>Link for theory:</b><br>
			<a href="https://www.javatpoint.com/java-oops-concepts">https://www.javatpoint.com/java-oops-concepts</a><br>
			<h3>Important for Preparation of Coding round:</h3>
			Practice Competitive coding on codechef, codeforces <br>
			Practice question on data structures on Interviewbit <br>
			<a href="https://www.interviewbit.com/">https://www.interviewbit.com/</a><br>



		</div>
	</div>
</div>
<br>
{% endblock content %}