{% extends "base.html" %}
{% load static %}

{% block content %}
<ul class="nav nav-tabs">
	<!-- <li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#psw17-21">Batch 17-21</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#psw16-20">Batch 16-20</a>
	</li> -->
	<li class="nav-item active">
		<a class="nav-link active" data-toggle="tab" href="#psw15-19">Batch 15-19</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#psw14-18">Batch 14-18</a>
	</li>
</ul>

<div class="tab-content">
	<!-- <div class="tab-pane container active" id="psw17-21">
		sam1
	</div>
	<div class="tab-pane container fade" id="psw16-20">
		
	</div> -->
	<div class="tab-pane active" id="psw15-19">
		<div class="jumbotron">
			<h2>Name: Radha Revathi G</h2>
			<h2>Company: Oracle</h2>
			Process of Selection : <br>
			There are 5 rounds in total. First round is a online test conducted in AMCAT platform followed by three technical rounds and one hr. <br>

			Description of each round : <br>
			In first round, all the questions were of objective type and there were no coding questions. <br> Concentrating on quantitative aptitude, flow charts, data structures & algorithms and basics of dbms, we can easily crack the first round. Also, the questions are easy but there is a time constraint to every section. <br>
			In technical interview-1, basic questions on java, oops and puzzles were asked. <br>
			In technical interview-2, the following questions were asked <br>
			* quick sort and merge sort <br>
			* reverse a linked list <br>
			* print matrix in spiral form <br>
			* questions in oops like inheritance, abstract class, polymorphism etc. <br>
			Technical interview-3 is mostly a manegerial round in which they tested how well we perform under stress. <br>
			Last round is a Hr round and questions are easy and basic ones. Once you reach this round, you are almost selected. <br>

			Suggestions to junior : <br>
			Don't loose confidence and keep on practising more and more questions. Interact more with the interviewer and think out loud during the interview. All the best !!!! <br>
		</div>
		<div class="jumbotron">
			<h2>Name: Shibam Basu</h2>
			<h2>Company: Microsoft</h2>
			<h4>Branches Eligible: CSE, ECE, EEE</h4>
			Process of Selection & Description of each round : <br>
			One Online Coding Round, One Group Fly Round followed by Three Face to Face Interviews <br>
			Description of each round : <br>
			Coding Round - One easy question on a string, one medium question on array arithmetic and one hard <br> question on Binary Search Tree <br>
			Group Fly- Two coding questions were put on on board and we had to complete them within 40 mins. One of them was on runtime encoding and the other one was level order traversal on a branched linked list. <br> Both were easy. <br>
			Interview 1 - Discussion about my internship and project in GS followed by a puzzle "Celebrity Identification". The puzzle was interesting although I couldn't answer completely he liked my approach. <br>
			Interview 2 - Simple DS questions followed by an ad-hoc question (where a game is played between two players and we had to answer who will win if both play optimally). <br>
			DS question was to find a median of two sorted arrays(easy), and one implementation based array question (medium). <br>
			Interview 3- Most important since it is taken by Senior Engineer of Microsoft. Questions asked were on hashing, indexing, how is map implemented in STL of c++. One array question on Binary Search where first I gave brute Force solution and then optimized the solution. For both solution, Name: he asked time and space complexity. <br>
			Finally, I got selected at 10:30pm. <br>
			******Suggestions to juniors : <br>
			1-Focus more on basics stuff like array, string, trees, linked list than on graphs. <br>
			2-If you write a project in a resume you must KNOW EVERYTHING in that project. <br>
			3-Don't show off during Interviews. <br>
			4-Don't forget subjects like OS DBMS OOP as they will be the deciding factor since everyone will be reading DS. <br>
			5-Know everything about something and something about everything.



		</div>
		<div class="jumbotron">
			<h2>Name: Manasa Kanaparthi</h2>
			<h2>Company: Qualcomm</h2>
			<h4>Branches Eligible: CSE, ECE, EEE</h4>
			<h4>CGPA cut-off : 7.5</h4>
			Process of Selection : <br>
			This year, Qualcomm came for 3 profiles-hardware, software, hardware and software.I have applied for hardware and software profile in which there are 3 rounds- online test,technical and HR <br>

			Description of each round : <br>
			First round is online test which has 3 sections having 20 questions each. First 20 questions are based on aptitude followed by 20 C programming questions. In third section, we can choose between hardware and software. I have chosen hardware section in which questions are asked from digital system design and microprocessors. C programming questions can be prepared from geeksforgeeks website. Aptitude questions were easy but time consuming. <br>
			Second round is technical interview. As the profile I applied is both hardware and software, some of the questions are asked from C programming like <br>
			decimal to binary conversion, what is enum and extern, programs related to structures. Also they asked questions related to hardware concepts like analog to digital convertors, quantization, fourier transforms, etc. They also asked some questions on projects mentioned in resume. <br>
			In third round, basic HR questions are asked.
		</div>
		<div class="jumbotron">
			<h2>Name:Ch.Vamshi</h2>
			<h2>Company:Samsung R&D</h2>
			<h4>Branches Eligible: CSE, ECE, EEE</h4>
			Process of Selection : <br>
			Pre Placement Offer <br>
			Description of each round: <br>
			As I was an intern in Samsung,I had an exam called software competency test.one question for three hours.No other library except iostream is allowed.All the test cases must be cleared.only then you will get a pass grade. <br>
			Then you will have a Technical interview.I had it for 1 hr.All the concepts like DS, OOP, DBMS, CN, OS were asked. <br>
			Then there's HR.Usual behavioural questions will be asked. <br>
			Suggestion to the juniors : <br>
			When it comes to software competency test, go through backtracking, brute force and dynamic programming mainly. They intend to test ur capability to code from scratch without STL.



		</div>
		<div class="jumbotron">
			<h2>Name: VinodKumar Choudary</h2>
			<h2>Company:Goldman Sachs</h2>
			<h4>Job Profile :Strats at Goldman Sachs Engineering Division</h4>
			Process of Selection : <br>
			Was selected as an intern and was offered pre-placement offer. <br>
			Description of each round: <br>
			Round 1 (90 minutes) : <br>
			15 MCQ questions of medium difficulty <br>
			1 coding question – N lowercase english alphabets and M strings (representing names in lowercase english alphabets ) are given. Forming a name plate of string S of length L gives you L coins and 10 extra coins. Each alphabet can be used only once. Using these alphabets we have to form name plates so that profit is maximized. <br>
			Round 2 (Technical) : <br>
			Rs 1000 note puzzle. <br>
			Finding ends of 21 wires puzzle. <br>
			Explain copy constructor, function pointers. <br>
			Reverse linked list program. <br>
			Round 2 (Technical+HR) : <br>
			Discussion on projects done and some basic questions related to them. <br>
			Conceptul questions on few data structures and time complexity. <br>
			Program to check given n*n mtrix is magic square or not. <br>
			Why Goldman Sachs? <br>
			Round 3 (Technical) : <br>
			Finding Nth fibonacci number program. <br>
			Program for returning all prime factors of given number N. <br>
			2-3 mathematical questions based on polynomials and linear equations. <br>
			Interview Experience : <br>
			For me 1st interview didn't go well, but I could do better in 2nd and 3rd interview. So, even if you struggle in the start don't lose hope/confidence. <br>
			Piece of Advice : <br>
			When asked to introduce yourself, mostly talk about your interests and projects. <br>
			Have a good grip on programming fundamentals, and present your answers/approach in a clear and concise manner. <br>
			Be confident and calm through out the interview. <br>
			In GS they consider one internship work+presentation(that happens at the end of internship)+contest(organised by GS of technical interns) to evaluate for ppo. <br>




		</div>
		<div class="jumbotron">
			<h2>Name : Vishal Gupta </h2>
			<h2>Company : DE SHAW</h2>
			Process of Selection & Description of each round : <br>
			DE Shaw came to our campus NIT Warangal for FTE recruitment on 10 th of August. First of all, we had to give the online coding and aptitude test and then were the interviews – two Technical rounds and HR. Details of the rounds is below : <br>
			Round 1 - Online Coding and Aptitude Test : <br>
			This was a 90 minutes online round conducted on the platform - Hackerrank. It consisted of around 20 aptitude questions and 2 coding questions. Aptitude questions consisted of general aptitude and technical questions based on output of programs, conceptual questions from DBMS , OOPs , CN and other CS basics. <br>
			The coding questions were : <br>
			1. Matrix rotation and multiplication to give highest possible value among all rotations. <br>
			2. Second one basically boiled down to run length encoding and giving output under constraints mentioned in the question. <br>
			( Separate timers were given for coding questions and other aptitude questions ). <br>
			So as you can see that these questions are not too difficult, it is important that you should be good at basics and from aptitude part - it is clear that basics of other subjects is important too ( as companies ask questions from other subjects too along with DSA in the interviews ). <br>
			After coding test, about 20 people were shortlisted for Interviews. <br>
			Round 2 - Technical Interview I : <br>
			Interview started with discussion on a few points from my resume , then the panel started with simple question of parenthesis balancing for which I gave the standard stack based solution , then they modified the question in which the pairs of balancing parenthesis may occur in any order indifferent from the stack based solution , for which O(n) TC and O(1) space complexity was expected , on answering this , the question was extended for various types of braces ( i.e square , round etc ) in single string input , for which I proposed the map data structure used for implementation (Full bug free code for every version of my answer was required ). <br>
			Then , they asked me how map stl is implemented in cpp library , on answering they asked me about red – black tree ( only the brief algo used for implementation was expected). <br>
			Second coding question : maximum profit on buying and selling stocks with at most k transactions with given stock prices of n days , for which I proposed an O(k.n^2) TC DP solution which I was able to reduce to O(k.n) TC with the hints given by interviewer. <br>
			Last coding question asked was : Given an array , give the list of all such sub sequences with sum zero , for which i used backtracking as brute solution and then further optimised using memoization.
			Then the panel moved towards other subjects starting with a database design for phone accounts of various customers over various phone models and numbers. In such questions, you need to talk to interviewer as much as possible to clarify your doubts and then give your rough design. On being satisfied with the normalised version of design he started to ask sql queries for above, optimised queries for same were expected. <br>
			Very peculiar questions such as : what if I include the same header file again in code, will it effect the run time of code? were asked. <br>
			Questions on phantom read and dirty read problem etc were covered. This interview touched basics of OS and DBMS. Then with a discussion on JAVA OOPs (mainly polymorphism ) and difference between JAVA and C++ during compilation etc, the round concluded. This round lasted for about 2 hrs. <br>
			After this 4 students were shortlisted for further rounds. <br>
			Round 3 - Technical Interview II : <br>
			This interview started with discussion on the chat messenger project, mentioned in my resume. Complete explanation of implementation and technology used was expected. Then, they started with questions on computer networks : including network addressing, server – client model, layers in OSI model etc. After discussing the CN project in depth and briefing over other relevant projects, they started with the coding question : There are n ropes of different length and we need to connect ropes with minimum cost, such that the cost of connecting two ropes is sum of length of ropes, for which I proposed a min-heap solution. <br>
			Second question : Maximum number of edges to be added so that the graph stays bi-partite, (question framed was different but was reducible to above problem statement). <br>
			For both of above questions a full bug free code was expected. <br>
			Then panel started to ask questions on OS and JAVA OOPs. Concepts from paging, segmentation ,scheduling, virtual memory and most of the similar questions from memory management were asked.  <br>Questions on multi threading, semaphores and mutex, locks were also covered. <br>
			Topics of deadlock with relation to cycle in directed graph was asked. Some quick questions such as : fragmentation, translation look aside buffer (whether it is software or hardware), size of pointer to pointer etc were also asked. <br>
			JAVA OOPs was thoroughly asked and they gave snippets as code to test whether they are correct or not, Diamond problem was asked in above reference. Functions of JVM and differences between JAVA and C++ was discussed in depth. <br>
			In this interview too I was asked to design a database for movies with the actors and their directors as given. Optimised queries for the same were posed (ex : k th movie on basis of number of actors in a particular movie ( this took a while!! ) ). <br>
			Then a last coding question on famous puzzle of egg breaking was asked. I proposed a DP solution for above ( only dry run through the algo was expected ).This concluded my second technical interview.
			This round lasted around 2.5 hrs. <br>
			Round 4 – HR Round: <br>
			HR was very friendly and interacted with me about my interests. She gave me a puzzle for which I responded in appropriate time.Then she asked me a few questions like : Why no summer – internship ? <br> Being an ECE student what made you interested in computer domain ? <br>
			Then she had a few questions on my background, and finally asked me if I had any questions for her. <br> Always do respond to this question when posed. I asked about the work environment of DE Shaw in general and about the opportunites given to fresh joinees. With this, all the rounds concluded.
			******Suggestions to juniors : <br>
			1. The most important factor for them was ‘Time’ that in how much time you are solving the question and ya they were asking to write the whole code on paper <br>
			2. Focus on other subjects as there are many companies which sometimes ask only DBMS, CN and JAVA concepts in depth ( don’t put them aside ). <br>
			3. You should continuously keep talking and even while solving question keep telling them the approach ( as they help if you got stuck in between ). Start from the naive approach and then go to the efficient one as it tells them your thinking and understanding process. <br>
			4. Get familiar with the online judges platforms (ex – Hackerrank, Interviewbit etc ) <br>
			In some situations you will not be able to figure out whats happening with you but instead of losing hope , work hard and learn from your mistakes. Because in the end it is only your Hard Work that pays off.

		</div>
	</div>
	<div class="tab-pane fade" id="psw14-18">
		<div class="jumbotron">
			<h2>Name : Sanskar Agrawal</h2>
			<h2>Company : Factset</h2>
			<h4>Job profile : IT and Consultancy</h4>
			Process of Selection : The total process took two days.There were total four rounds in the overall process. First round was conducted on the first day and the other three rounds next day.First round was a written test and the other three rounds were personal interviews.After first round ,around 27 students were shortlisted and finally after fourth round 5 students made it to the list. <br>

			Description of each round : <br>
			First Round- <br>
			First round : It was a written paper pen based test. There were three questions.Questions were mainly from strings, 2-D Matrix.I felt that one question was difficult and two were of moderate level.I solved all three and qualified for the second round. <br>

			Second round : It was a personal interview where we were asked a question based on strings, and were asked to write a full code for the solution.Question was difficult.Interview lasted for one hour.( I was able to solve and qualified for the third round) <br>

			Third round : This was the second technical interview.The interview was very long and I was asked a lot of questions. Questions were mainly from arrays, vector, 2-D arrays and vectors, strings,dynamic programming, optimization of various algorithms, Data structures etc.Some of the questions were easy, some were moderate, while some questions were really tough.Interview lasted for a little less than 3 hours( continuously). <br>

			Fourth round : Fourth round was HR interview.The interviewer was very frank.He asked me about my interests, then asked some questions on that. He also asked about my future plans and some other standard HR questions.Interviewer <br>
			told that he was impressed with the honesty of my answers.Interview lasted for 30-40 minutes. <br>
			Fourth Round- <br>
			This round happened over the telephone and basically didn't account for much. I was asked about my interests in higher studies and all that. <br>

			Suggestion for juniors : Practice makes man perfect. Practice a lot from geeksforgeeks. Try to remain positive during interviews.
		</div>
		<div class="jumbotron">
			<h2>Name : Aditya Tayade</h2>
			<h2>Company : Cavium</h2>
			<h4>Job profile : Embedded software engineer</h4>
			Process of selection : <br>
			1st written offline round , 2 technical rounds , 1 HR round <br>

			Description of each round : <br>
			1st round had c/c++ questions (pointers - double/triple , memory management ) algorithms, basic assembly language code understanding questions <br>

			Technical rounds had questions based on 1st round paper, <br>
			Operating system basics, <br>
			Computer architecture basics , <br>
			Popular puzzles and basic maths questions <br>

			HR round was easy and casual round. <br>

			Suggestion for juniors : Be prepared with computer architecture basics, Linux operating system commands , operating systems concepts , c/c++ concepts should be strong. <br>
		</div>
		<div class="jumbotron">
			<h2>Name : Anand kumar</h2>
			<h2>Company : INTEL</h2>
			<h4>Job Profile : SDE</h4>
			Process of selection : <br>
			1.Resume & CGPA shortlist <br>
			2.personal interview (technical+ HR) <br>

			Description of each round : <br>
			Round 1: <br>
			resume & CGPA shortlist : initially they kept 7.5 CGPA cutoff for all branch ..later reduced it to 7.0 for CSE and ECE. <br>
			Round 2: <br>
			The interview started with HR questions..introduce yourself, why Intel, where do you see yourself 5 year down the line. <br>
			Later a short discussion on project. He gave me few C programming question to find error/memory effective/faster. Discussion on interrupt handling in microprocessor , basic idea of analog to digital converter & mutex vs semaphore. <br>

			Suggestion for your juniors : <br>
			1. Maintain a good CGPA at least 7+....... (8+ would be better ) <br>
			2. Have a basic knowledge of these subject (OS, MPMC, CN, CAO, C/C++programming ) <br>
			3. Do some good projects. <br>
		</div>
		<div class="jumbotron">
			<h2>Name: Aman Khanchandani</h2>
			<h2>Company:Uber</h2>
			<h4>Job Profile : SDE</h4>
			Process of Selection : <br>
			Coding round followed by 3 face to face interviews. <br>
			Description of each round: <br>
			The first round comprised of three problems. One was ad hoc , second on DP , and the third was on graph (Topological Sort). You should have a little experience of competitive programming in order to solve these problems . Three or four months of practice should be suffice . <br>
			The first interview round was a mixture of both HR and technical .I was asked a simple problem on DP. <br> For interview rounds geeks for geeks is enough .They usually ask standard problems with a slight twist. <br>
			Second round was more of a discussion type .I was asked to implement grep function using minimum space possible along with the best possible time .I gave two or three solution which were followed by a discussion of whether they could be improved or not. <br>
			The third round was an easy one and was kind of HR + technical .I was asked why CSE and not ECE and what i like to study .A small discussion on some algorithms and how their running time can be reduced. <br>
			Each of the rounds lasted for one and half hour. <br>
			Suggestion to the juniors: <br>
			Try to do as much competitive programming as you can . <br>
			Don't let your pointer go below 8. <br>
			In the last few months try to solve as much problems from geeks for geeks as you can . If you have been into competitive programming i guess reading the solutions would be enough .Always go through the tricky solutions on geeks for geeks which ask you to reduce space complexity as the interview expects you to give that solution in one go. <br>
			All of the above would be enough <br>
			All the best.
		</div>
		<div class="jumbotron">
			<h2>Name: Kartikey Singh</h2>
			<h2>Company:Fidelity Investments</h2>
			<h4>Job Profile : Software Engineer</h4>
			<h4>Cgpa cutoff :no cutoff</h4>
			<h4>Eligible branches:B.Tech(all branches)</h4>
			Process of Selection : <br>
			Round 1:- Aptitude Test <br>
			Round 2:- Technical Interview <br>
			Round 3:- HR <br>
			Description of each round: <br>
			First round does not require much preparation.Basic coding skills and knowledge about C++ and Data Structures would do. Also speed matters a lot in this round. For the interviews, in addition to the technical knowledge what matters more is how you solve a question which is new to you and not already known. interview questions were on projects.The interview went around 15 mins. <br>
			Suggestions to the juniors: <br>
			Be confident. Don't speak any lies about the resume
		</div>
		<div class="jumbotron">
			<h2>Name: D.Lakshmi Sowjanya</h2>
			<h2>Company:Intel</h2>
			<h4>Job Profile : Software Engineer</h4>
			<h4>Cgpa cutoff :no cutoff</h4>
			<h4>Branches eligible:CSE,ECE,EEE(BTech&M.Tech)</h4>
			Process of Selection : <br>
			Resume Shortlist,One Round of Personal Interview <br>
			Description of each round: <br>
			Resume Shortlist based on CGPA - Students with CGPA >=7 were shortlisted <br>
			Personal Interview-Mostly Technical Questions were asked and a few HR kind of. <br>
			First he asked me about my project which is in VHDL. He asked is it different from coding in C and VHDL (as the syntax is quite similar).The difference is seen when it is implemented on FPGA. Then I said I used sensor in one project So, he asked me to design a proximity sensor. Then he gave me two C programs (the ultimate answer of these programs is same but the approach is different).He asked me to say which approach is better when it is running on system.Then some HR questions like where do you want to see yourself in 5 years and are u interested in higher studies and all. <br>
			Suggestion to the juniors: <br>
			Though you have never done the question asked in the interview before,try to answer it.If u can't ,ask for some clues. Be confident.
		</div>
		<div class="jumbotron">
			<h2>Name : Sravya</h2>
			<h2>Company : Oracle</h2>
			<h4>Job profile : Android  developer</h4>
			Process of selection : Aptitude test followed by 3 tech interviews followed byHR interview. <br>

			Description of each round : <br>
			Aptitude test- no negative marking, based on tech and english <br>
			Tech interviews - DBMS and DS <br>
			Hr interview- friendly interview. <br>

			Suggestion for juniors : <br>
			Have confidence <br>
			Do not panic if u dont know an answer <br>
			The interviewers are really friendly and give you ample time to think <br>
			All the best!! <br>
		</div>
		<div class="jumbotron">
			<h2>Ayush aggarwal</h2>
			<h2>Company : Oracle</h2>
			<h4>Job profile : Application developer</h4>
			Process of selection : <br>
			1.Online test <br>
			2.Personal interview rounds-3 technical 1 HR. <br>

			Description of each round : <br>
			Online round was basic aptitude and English , there was a software section consisting of questions from java and sql and flowchart based questions. <br>
			In Technical interview they asked questions from DBMS and Oop and some puzzles , acid properties dirty read and gave some real world situations, basic data structure was asked
			Hr round they asked my strengths and asked me to explain by giving example from my life. <br>

			Suggestion for juniors : Go through DBMS and oop and have a basic knowledge of java.
		</div>
		<div class="jumbotron">
			<h2>Name: Sayan Subrata Das</h2>
			<h2>Company: Fidelity Investments</h2>
			<h4>Job Profile : Software development engineer</h4>
			Description of each round: <br>
			1st round - aptitude(general + tech) and coding, <br>
			2nd round - tech interview , <br>
			3rd round - based on performance either another tech interview or direct HR <br>

			Suggestion to the juniors: <br>
			Try improving your aptitude whether general or technical to clear the 1st round later on it's a pretty smooth interview process obviously requiring ones presence of mind <br>
		</div>
		<div class="jumbotron">
			<h2>Name : Rajiv Kashyap</h2>
			<h2>Company : Hexagon</h2>
			Process of selection : Apti, 2 Technical and 1 HR. <br>

			Description of each round : Apti had normal math problems and simple coding both MCQ, the technical rounds were mainly based on the resume, all your projects and all in an elaborated way. also they asked OOPS concepts, DBMS. and the HR round was like the usual. why you want to join and all that. <br>

			Suggestion for juniors : Do not get scared,have good communication skills(most important). Speak free.
		</div>
		<div class="jumbotron">
			<h2>Name: Ranjitha</h2>
			<h2>Company:Vmware</h2>
			<h4>Job Profile :CMDU</h4>
			Process of Selection : <br>
			Online test followed by 3 rounds of technical interviews and 1 hr <br>
			Description of each round: <br>
			Online test was quite easy but you have to be thorough in basics of OS, DBMS, C, C++, Java, Networks. <br> It consists of MCQ questions followed by a single coding question.. so.. in whole 17 students were short listed for further rounds <br>
			Here it started.. all the rounds were through Skype.. <br>
			First technical round.. where in I was asked to solve some puzzles and 2 DS problems.. they were of medium difficulty and them some java basics <br>
			Second tech round.. where they tested my knowledge on every cse subject like DBMS, OS, DS, NETWORKS,
			Third managerial round <br>
			Here they go through the entire resume and it will be a mixture of tech and hr kind.. they ask about the technological challenges faced and literally everything that I wrote on resume.. never mess up at any stage.. <br>
			Hr round <br>
			Casual discussion on company and it was just kind of confirmation that we are gonna get the job.. <br>
			Suggestion to the juniors : <br>
			So.. my suggestion would be.... Be confident in whatever you say.. show what you are.. prepare DS and.. all Cse subjects well.. and.. chill.. u r gonna get what you are destined to.. wait for the perfect moment... Good luck guys
		</div>
		<div class="jumbotron">
			<h2>Name: Sindhuja Yadavalli</h2>
			<h2>Company:Fidelity Investments</h2>
			Process of Selection : <br>
			Was selected as an intern and was offered pre-placement offer. <br>
			Description of each round: <br>
			During internship, there was aptitude + English round, which was the first screening round. Then there was a technical interview where algorithms and coding questions were asked. The third round was HR, which mainly focused on our extra curriculars and our ability in delivering things. After 3 rounds, I was selected as an intern. During internship, my project was assessed and there was a final presentation on my project, by which they offered me a pre-placement offer. <br>
			Suggestion to the juniors: <br>
			Focus on not just getting a job, but on what type of job u want and more importantly not the package, but give more importance to the profile and ur growth aspects in future. <br>
		</div>
		<div class="jumbotron">
			<h2>Name: Sanath Reddy</h2>
			<h2>Company:Goldman Sachs</h2>
			<h4>Job Profile : Strats Analyst at Goldman Sachs Engineering Division</h4>
			<h4>Cut-Off : 6 out of 10</h4>
			Process of Selection : <br>
			Online test , 2 technical rounds and a HR round <br>
			Description of each round: <br>
			ROUND 1 : <br>
			It consisted of 5 MCQs ( +10,-5) and 2 coding questions <br>
			MCQs were of moderate level covering DS (trees ,graphs ) , OS and DBMS. <br>

			ROUND 2:(TECHNICAL) <br>
			The interviewer gave me a puzzle and after I answered it he slightly modified the question . <br>
			Then he gave me the following coding questions (full code was expected) <br>
			1) TOP view of a binary tree (in level order format )
			and a brief discussion on space and time complexity of code <br>
			2) Rotating an image by 90 degrees that is represented in the form of matrix
			and then asked me to suggest changes in the code if we have to rotate by -90
			degrees and 180 degrees. <br>

			ROUND 3:(TECHNICAL) <br>
			The interviewer gave me a single coding question based on backtracking (modified version of Rat and maze problem where we need to put the obstacles .coordinates of obstacles were provided in a vector where index represents a day . we need to find the date by which shop keeper is safe from the rats)and asked me to give full working code for it .Upon answering that he still modified the question and asked me to reduce time complexity to which i have used divide and conquer approach on the input vector provided . <br>
			Basically he was testing on the approach and ability to reduce time complexity . <br>
			Then he asked a question which was multiple threads trying to access a particular block of code and they are unable to unlock the resources before they come out of code and asked me to suggest a solution for it . <br>

			ROUND 4:( TECHNICAL + H.R.) <br>
			This time interviewer asked me to explain the projects I have done in detail. Then he asked me a few questions on semaphores and mutex. Then a coding question on trees followed by HR questions like
			where do you see yourself after five years? <br>
			why no internship? <br>
			why Goldman sachs? <br>
			Suggestion to the juniors: <br>
			Having internship only adds value to your resume but its not at all mandatory if you have atleast one good project . Confidence plays a major role ! I was rejected in a company even though i have answered correctly only because i was lacking confidence. Dont hesitate to ask a hint from the interviewer !!
		</div>
		<div class="jumbotron">
			<h2>Name : Himasri</h2>
			<h2>Company : Samsung</h2>
			Description of each round : <br>
			Basically two rounds will be there. First round will be a Software Competency test. In this, a single coding question will be given with test cases varying from 10 to 50 (mostly 50). The code must satisfy all the test cases. The code must be written from scratch without using any standard libraries. There will be two attempts for passing the test. <br>
			Once you have cleared the test , there will be one technical interview and 1 HR interview. In technical interview, u will first be asked about the intern project . Later they will go through your resume and ask each and every topic mentioned in the resume. So, be thorough with the topics mentioned in the resume... <br>
			HR interview will be a simple interview mainly asking about the intern experience and the team you would be willing to join if u were offered a PPO. They may even ask you about your interests in higher studies. If u want an offer , clearly say that u wont have any plans about them. <br>

			Suggestion for juniors : <br>
			For clearing the test, u need to focus on applications of BFS , DFS , Dynamic Programming , Backtracking etc. Basically brute force might work mostly.Go through Operating Systems, OOPS concepts, Computer Networks and DBMS. <br>
			Also, be thorough with the basics of C and C++. Some questions may be asked from them too. Also go through writing code in Visual studio... Be cool and confident while giving the interview. All the best :).
		</div>
		<div class="jumbotron">
			<h2>Name : Nishant Shrivastava</h2>
			<h2>Company : Samsung R&D Institute, Bangalore</h2>
			<h4>CGPA cutoff : 7.5 for CSE , 8 for ECE</h4>
			Process of selection : <br>
			For intern - 2 rounds. 1st was online test followed by GD round. <br>
			For PPO - A coding round (SWC - Software Competency Test), A technical Interview ,HR interview <br>
			Description of each round : <br>
			INTERN ROUNDS - Online test had Aptitude questions , along with some questions from general English and 3 simple coding questions. In Group Discussion - Topic allotted to us was --If self Driving cars are implemented in INDIA (For e.g Google's self driving Car Project) then what are the difficulties we will face and how can we overcome those difficulties - we had to propose TECHNICAL solutions for the same. <br>

			PPO PROCEDURE - A test called Software Competency Test(SWC) has to be given. It has a single coding Question and 3 hours of time is given. 50 test cases are to be cleared.Even if one test case is missed , you're not eligible for the interview. INTERVIEW ROUND(For PPOs) - Questions about intern project at Samsung, basic c, c++ , java related questions. Questions related to Data Structures(Trees and Graphs mostly). HR ROUND - Basic Questions like <br>
			Tell me about yourself?Why do you want to join Samsung ? How was your Intern Experience? Do you have any complaints ? Do you want to join the same team ? <br>

			Suggestion for juniors : <br>
			For SWC(at samsung) and Placement drive(in campus) , mostly focus on Graphs , Graph Traversals ( BFS, DFS) . Coding Question may appear very simple to you and time of 3 hours will be sufficient , but focus on the END CASES . You may manage to get through , lets say , 49 test cases , But that would be of no worth if you miss the 50th test case! and yes,that test case would surely be an end/ extreme test case. And yeah , Number of submissions are limited too! <br>

			About the company - Considering the companies that come to our college for recruitment ,Samsung may not be the best but a very good company to start your career with.Work culture is great. They have awesome canteens and your food and travelling expenses(to and from SRIB) will be incurred by them. <br>

			All the very best !
		</div>
		<div class="jumbotron">
			<h2>Name: Saurabh Rao</h2>
			<h2>Company:Samsung R&D</h2>
			Process of Selection : <br>
			Pre Placement Offer <br>
			Description of each round: <br>
			First we had a coding test which is mandatory to clear if you are willing to take PPO. This round had just 1 coding question and you need to clear all the test cases within 3 hours. No external libraries were allowed ( only iostream and stdio works ). Followed by this there was 1 technical and 1 HR round. <br>
			Suggestion to the juniors : <br>
			To all the people who hasn't made into any company for internship, i strongly suggest that no need to get disappointed. You will have 2 months of summer break and if you devote this period fully for your preparation then you will definitely get into top companies. Internship just gives you an experience of how the work is done and adds another project in your resume but if you have good technical knowledge then these thing hardly materrs. <br>
			Good luck.
		</div>
		<div class="jumbotron">
			<h2>Name : Sailesh Satpathy</h2>
			<h2>Company : Fidelity Investments</h2>
			Process of selection : <br>
			There were 3 rounds in total. First was the online round which consisted of General Aptitude and some English questions along with some basic programming questions. The second round was a technical interview and the final round was a HR interview. <br>
			Description of each round : <br>
			1st round (Online round) - This round consisted of general aptitude questions that were easily solvable if you had a decent amount of practice. It also consisted of some English vocabulary , passage and sentence completion questions which tested your hold on the English language.. It also had some basic programming questions that were mostly on the easier side in terms of difficulty. <br>

			2nd round (Technical round) - The questions that I was asked were directly related to what I had mentioned in my resume. One of the questions that I was asked was about the difference between the HTML get and post requests to the server and some SQL questions. I was also asked some tricky profit and loss questions.! <br>

			3rd round(HR round) - This round was the last one where I was asked some general questions related to my background and my interests! It was a fun round as I could interact well with the interviewer and we had a smooth conversation regarding our college , about IG and other stuffs.. Some questions like "Why should we hire you?" and "How do u see yourself in coming 5 years?" were also asked.. All in all it was quite a smooth and enjoyable experience and I got an internship opportunity! <br>

			Suggestion for juniors : <br>
			1 . Be well prepared with the technical stuff and be CONFIDENT while speaking to the interviewer. <br>
			2 . Be patient if u are stuck at some point.. ask a lot of questions related to the clarity of the question until and unless you totally understand what you are expected to do. <br>
			3. Never BLUFF the interviewer , else you are gonna get cornered surely. <br>
			4. Be polite and think before you say any answer. Try and apply your presence of mind whenever required. <br>

			All the best !! :)
		</div>
		<div class="jumbotron">
			<h2>Name: Adveit Joshi</h2>
			<h2>Company:Qualcomm</h2>
			Process of Selection : <br>
			1. Online test ( Aptitude + CS ) [No coding round , only MCQ's] <br>
			2. Interview 1 <br>
			3. Technical Interview 2 <br>
			4. HR Interview <br>
			Description of each Round: <br>
			1. Online test was quite easy ; most of the questions were from general placement preparation sites. <br>
			2. Interview 1 : It was supposed to be a Technical one, but He asked many of the HR questions  <br>too.Some of the questions (with my answers) were : <br>
			*introduce yourself (.....) <br>
			*What is your favorite subject ( Geometry ; He was surprised!! ) <br>
			*How can you find if a point is inside a triangle ( gave 5 possible ways) <br>
			*Where do you see yourself after 5 years ( @qualcomm ) <br>
			*Why software profile if you are from ECE (.....) <br>
			*Some OS concepts... <br>
			*and many more.... <br>
			3.Technical Interview 2 : Although I applied for software He asked mainly from core ECE, starting from Antennas, different types, Demodulation techniques,Sensitivity, SNR, etc <br>
			and then some basic C++ questions of finding outputs/pointers/virtual functions/conv. od bin to octal(efficiently),etc <br>
			4. HR Interview : as my turn came very late @ 11:35 pm , so She did not asked much, only basic things like : introduce,why no intern, how you have so many extra curricular activities(my half resume was filled with this), location preference,etc. <br>
			Suggestion to the juniors: <br>
			If your English Communication skills are good and if you are having a good pointer be sure that you will be selected in some company very soon. <br>
			Brush up basics .All the Best !!! <br>
			May the force be with you !!!
		</div>
		<div class="jumbotron">
			<h2>Name: Nisha Jacob</h2>
			<h2>Company:Qualcomm</h2>
			Process of Selection : <br>
			aptitude test, then 2 technical rounds followed by a hr interview <br>
			Description of each round: <br>
			Round 1: <br>
			It was an online test consisting of general aptitude, programming questions such as determine the output and a little bit of computer architecture. <br>
			Round 2: <br>
			This was the first technical round. The interviewer asked me about my final year project and he asked me basic coding questions such as how to reverse a string, what is the size of an empty class,etc. He also asked me about other projects I had worked on. He asked me my favourite subjects and since I said Microprocessors he asked me to explain how the addition operation is performed in 8086 microprocessor. <br>
			Round 3: <br>
			This was the second technical round. Here I was tested more on computer architecture than coding. The interviewer asked me about pipelining, direct memory access and Von Neumann architecture. He further asked me very simple coding questions and a few puzzles. <br>
			Round 4: <br>
			In the HR interview, I was asked whether I would want to go for further studies. I was also asked a few of my qualities and I had to justify them. <br>
			Suggestions to the juniors: <br>
			In your CV, you should only mention the areas which you are confident in. It is absolutely fine if you do not know many coding languages but be strong in what you know. Also, in the aptitude rounds, do not waste your time on difficult questions and try to solve as many as you can in the given time. <br> Most importantly, it is absolutely fine if you have not done any internship as they are not specifically going to ask you whether you have done or not. It will be beneficial if you participate in the college hackathons as those are projects that you can include in your resume..
		</div>
		<div class="jumbotron">
			<h2>Name : Akshaya</h2>
			<h2>Company : ORACLE</h2>
			<h4>Job Profile : Application Developer</h4>
			Process of Selection : FTE <br>

			Description of each round : <br>
			The entire process of selection was of 5 rounds. <br>
			Round 1: <br>
			It was online test mainly contains basics of DBMS, Data Structures ,C++,OOPS,Quantitative aptitude and verbal. <br>
			Round 2: <br>
			It was technical round.Interviewer asked simple questions of dynamic programming and some puzzles. <br>
			Round 3: <br>
			They asked file structures and some questions of oops.He went through my resume and asked some questions from it. <br>
			Round 4: <br>
			Only one question based on trees was asked. <br>
			HR round: <br>
			It was just like an interaction regarding our basic interests. <br>

			Suggestion for juniors : <br>
			So basically try to clear the first round and try to make the best impression in the first interview itself as the review from each round is carried to next round . <br>
			Never get upset if you didnt get any internship this year. Utilize your summer holidays in the best way.Go through all CSE subjects and try to practice coding from online platforms.
		</div>
	</div>
</div>
{% endblock content %}